{% extends 'index.html' %}

<!DOCTYPE html>
{% block titulo%}
Editar Cliente
{% endblock titulo%}
{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Editar Cliente</strong></div>
  <div class="card-body card-block">

    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-4">
          {{cliente_form.dni.label}}
          <div class="form-control">
            {{cliente_form.dni}}
          </div>
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
          {{cliente_form.apellido.label}}
          <div class="form-control">
            {{cliente_form.apellido}}
          </div>
        </div>
        <div class="col-md-4">
          {{cliente_form.nombre.label}}
          <div class="form-control">
            {{cliente_form.nombre}}
          </div>
        </div>
        <div class="col-md-4">
          {{cliente_form.telefono.label}}
          <div class="form-control">
            {{cliente_form.telefono}}
          </div>
        </div>
        <div class="col-md-12">
          {{cliente_form.domicilio.label}}
          <div class="form-control">
            {{cliente_form.domicilio}}
          </div>
        </div>
        <div class="col-md-12">
          {{cliente_form.correo.label}}
          <div class="form-control">
            {{cliente_form.correo}}
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-dot-circle-o"></i> Crear
        </button>
        <button type="reset" class="btn btn-danger">
          <i class="fa fa-ban"></i> Limpiar
        </button>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock content%}
