{% extends 'index.html' %}

<!DOCTYPE html>
{% block titulo%}
Editar Cliente
{% endblock titulo%}
{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Editar Cliente</strong></div>
  <div class="card-body card-block">

    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-4">
          {{cliente_form.dni.label}}
            {{cliente_form.dni}}
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
          {{cliente_form.apellido.label}}
            {{cliente_form.apellido}}
        </div>
        <div class="col-md-4">
          {{cliente_form.nombre.label}}
            {{cliente_form.nombre}}
        </div>
        <div class="col-md-4">
          {{cliente_form.telefono.label}}
            {{cliente_form.telefono}}
        </div>
        <div class="col-md-12">
          {{cliente_form.domicilio.label}}
            {{cliente_form.domicilio}}
        </div>
        <div class="col-md-12">
          {{cliente_form.correo.label}}
            {{cliente_form.correo}}
        </div>
      </div>

      <div class="card-footer alineado-derecha">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-dot-circle-o"></i> Actualizar
        </button>
        <button type="reset" class="btn btn-warning">
          <i class="fa fa-ban"></i> Descartar Cambios
        </button>
        <div class="col-1">

        </div>
        <button type="button" class="btn btn-danger" onclick="history.back()">
          <i class="fa fa-chevron-left"></i> Volver
        </button>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock content%}
