{% extends 'index.html' %}

<!DOCTYPE html>
{% block titulo%}
Eliminar cliente
{% endblock titulo%}
{% block content%}
  <form method="POST">
    {%csrf_token%}
    {% if error %}
    <div class="alert alert-danger">
		  No es posible eliminar el usuario
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">×</span>
			</button>
		</div>
    {% else %}
    <div class="card">
      <div class="card-header bg-success"><strong class="card-title text-light">Agregar Cliente</strong></div>
      <div class="card-body card-block">
          <h2>¿Desea eliminar el cliente {{cliente.nombre}}?</h2>
        <div class="card-footer">
          <div class="alineado-derecha">
            <button class="btn btn-danger" type="submit">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
    {% endif %}
  </form>
{% endblock content%}
