{% extends 'index.html' %}
{% load static %}

{% block titulo %}
Gestionar Clientes
{% endblock titulo %}

{% block content %}
<div>
<div class="row">
  <div class="col-md-12">
  <form class="form-header" action="" method="POST">
      <input class="au-input au-input--xl" type="text" name="search" placeholder="Buscar Pedido o Cliente..." />
      <button class="btn btn-info" onclick="location.href='#'" >
          <i class="zmdi zmdi-search"></i>
      </button>
      <button class="btn btn-success" style="margin-left: 10px" type="button" onclick="location.href='/cliente/crear_cliente/'">
          <i class="fas fa-plus"></i>
      </button>
  </form>
  </div>
</div>
<br>

  {% if clientes %}
  <!-- DATA TABLE-->
  <div class="table-responsive m-b-40"">
      <table class="table table-borderless table-data3">
        <thead>
            <tr>
              <th>DNI</th>
              <th>Apellido</th>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>Correo</th>
              <th>domicilio</th>
              <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
            <tr>
              <td>{{cliente.dni}}</td>
              <td>{{cliente.apellido}}</td>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.telefono}}</td>
              <td>{{cliente.correo}}</td>
              <td>{{cliente.domicilio}}</td>
              <td>

                <button type="button" class="btn btn-primary btn-sm" onclick="location.href='#'">
                  <i class="fas fa-eye"></i>
                </button>
                <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'cliente:editar_cliente' cliente.dni %}'">
                  <i class="fas fa-pencil-square-o"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{% url 'cliente:eliminar_cliente' cliente.dni %}'">
                  <i class="fas fa-trash"></i>
                </button>

              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  <!-- END DATA TABLE-->
  {% else %}
    <h1>No existen clientes registrados</h1>
  {% endif %}
</div>
{% endblock content %}
