{% extends 'index.html' %}
{% load static %}

{% block titulo %}
Gestionar Clientes
{% endblock titulo %}

{% block content %}
<input type="hidden" name="" value="" id="min">
<input type="hidden" name="" value="" id="max">

<div class="alineado-derecha">
  <div class="fa-hover">
    <a href="JavaScript:Void(0);">
      <i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
  <form class="form-header" action="" method="POST">
      <input class="au-input au-input--xl" type="text" name="search" placeholder="Buscar Cliente..." id="midtbusqueda" data-step="1" data-intro='Puede filtrar la tabla por medio de un valor de busqueda'/>
      <button class="btn btn-success" style="margin-left: 10px" type="button" data-toggle="modal" data-target="#largeModal" data-step="2" data-intro='Si desea agregar un cliente puede hacerlo haciendo click en el botón'>
          <i class="fas fa-plus"></i>
      </button>
  </form>
  </div>
</div>
<br>
{% if messages %}
<div class="col-md-12">
  <ul class="messages">
    {% for message in messages %}
      {% if message.tags == 'success'%}
        <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        </div>
      {% endif %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      </div>
      {% endif %}
      {% if message.tags == 'warning' %}
      <div class="alert alert-warning">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      </div>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}

<input type="hidden" name="titulo" class="titulo_reporte"  id="titulo" value="Listado de clientes">
<input type="hidden" name="empresa" class="empresa_reporte" id="empresa" value="{{reporte.empresa}}">
<input type="hidden" name="direccion" class="direccion_reporte" id="direccion" value="{{reporte.direccion}}">
<input type="hidden" name="telefono" class="telefono_reporte" id="telefono" value="{{reporte.telefono}}">
<input type="hidden" name="usuario" class="usuario_reporte" id="usuario" value="{{user.username}}"> 


  <!-- DATA TABLE-->

  <div class="table-responsive table-responsive-data2">
      <table class="table table-data2" id="midatatable" data-step="3" data-intro='Se muestra una tabla con todos los clientes activos registrados en el sistema'>
        <thead>
            <tr>
              <th></th>
              <th>DNI</th>
              <th>Apellido</th>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>Correo</th>
              <th class ="noExport">Opciones</th>
            </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
            <tr>
              <td></td>
              <td data-step="4" data-intro='Se puede observar el DNI del cliente'>{{cliente.dni}}</td>
              <td data-step="5" data-intro='El apellido'>{{cliente.apellido}}</td>
              <td data-step="6" data-intro='El nombre'>{{cliente.nombre}}</td>
              <td data-step="7" data-intro='El teléfono'>{{cliente.telefono}}</td>
              <td data-step="8" data-intro='Y el correo electrónico'>{{cliente.correo}}</td>
              <td>

                <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'cliente:ver_cliente' cliente.dni %}'" data-step="9" data-intro='Si selecciona la opción "Ver cliente" lo redirige a una pagina donde podrá tener información mas detallada acerca del cliente'>
                  <i class="fas fa-eye"></i>
                </button>
                <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'cliente:editar_cliente' cliente.dni %}'" data-step="10" data-intro='Si selecciona la opción "Editar cliente" lo redirige a otra pagina donde podrá editar el cliente'>
                  <i class="fas fa-pencil-square-o"></i>
                </button>
                <!-- Modal Eliminar -->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2{{cliente.dni}}" data-step="11" data-intro='Si selecciona la opción "Eliminar cliente" se muestra una ventana para confirmar la eliminación'>
                  <i class="fas fa-trash"></i>
                </button>
                <div class="modal fade bs-example-modal-lg2{{cliente.dni}}" id="myModal2{{cliente.dni}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel{{cliente.dni}}">Confirmar Eliminacion</h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <a>¿Está seguro de <strong>eliminar</strong> al cliente {{cliente.apellido}} {{cliente.nombre}} ?</a>
                            </div>
                            <div class="modal-footer">
                              <div class="alineado-derecha">
                                <a href="{% url 'cliente:eliminar_cliente' cliente.dni %}">
                                  <button type="button" class="btn btn-danger" >Eliminar</button>
                                </a>
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
              </td>
            </tr>
          {% endfor %}

        </tbody>

      </table>
  <!-- END DATA TABLE-->

</div>



{% endblock content %}
