{% extends 'index.html' %}

<!DOCTYPE html>
{% block titulo%}
Crear Estado
{% endblock titulo%}
{% block content%}
<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Nuevo Estado</strong></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}
      {% if messages %}
      <div class="col-md-12">
        <ul class="messages">
          {% for message in messages %}
            {% if message.tags == 'success'%}
              <div class="alert alert-success">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              </div>
            {% endif %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {{estado_form.nombre.label}}
      <div class="form-control">
        {{estado_form.nombre}}
      </div>
      {{estado_form.descripcion.label}}
      <div class="form-control">
        {{estado_form.descripcion}}
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-dot-circle-o"></i> Crear
        </button>
        <a href="{% url 'index'%}">
        <button type="button" class="btn btn-danger" >
          <i class="fa fa-ban"></i> Cancelar
        </button>
        </a>
      </div>
    </form>


  </div>
</div>

{% endblock content%}
