{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Nueva Compra
{% endblock titulo%}

{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Nueva Compra</strong></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}
      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}

      <div class="row">
        <div class="col-md-3">
          {{compra_form.fecha.label}}
          <div class="form-control">
            {{compra_form.fecha}}
          </div>
        </div>
        <div class="col-md-6">
          {{compra_form.material.label}}
            {{compra_form.material}}
        </div>
        <div class="col-md-3">
          {{compra_form.cantidad.label}}
          <div class="form-control">
            {{compra_form.cantidad}}
          </div>
        </div>
      </div>




      <div class="card-footer alineado-derecha">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-dot-circle-o"></i> Registrar
        </button>
        <button type="button" class="btn btn-danger" onclick="history.back()" >
          <i class="fa fa-chevron-left"></i> Volver
        </button>
      </div>
    {% endif %}
    </form>


  </div>
</div>
<script>
  document.getElementById('datePicker').valueAsDate = new Date();
</script>

{% endblock content%}
