{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Nuevo Material
{% endblock titulo%}

{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Nuevo Material</strong></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}

      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            {% if message.tags == 'success'%}
              <div class="alert alert-success">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              </div>
            {% endif %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endif %}
            {% if message.tags == 'warning' %}
            <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

      <div class="row">
        <div class="col-md-3">
          {{material_form.tipo_material.label}}
            {{material_form.tipo_material}}
        </div>
        <div class="col-md-4">
          {{material_form.nombre.label}}
            {{material_form.nombre}}
        </div>
        <div class="col-md-1">
          {{material_form.color.label}}
            {{material_form.color}}
            <div class="colorPickSelector colorPicker"></div>

        </div>
        <div class="col-2">

        </div>

        <div class="col-md-3">
          <p>Stock Mínimo</p>
          <div class="input-group">
              {{material_form.stock_minimo}}
            <div class="input-group-addon">
              <p  id="unidad_medida"></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p>Tiempo de resposición estimado</p>
          <div class="input-group">
              {{material_form.tiempo_reposicion}}
            <div class="input-group-addon">
              <p>Día/s</p>
            </div>
          </div>
        </div>
      </div>
        {{material_form.stock.as_hidden}}

      <div class="card-footer alineado-derecha">
        <button type="submit" class="btn btn-success" name="boton_guardar_agregar">
          <i class="fa fa-dot-circle-o"></i> Crear y agregar otro
        </button>
        <button type="submit" class="btn btn-success" name="boton_guardar_listar">
          <i class="fa fa-dot-circle-o"></i> Crear y listar
        </button>
        <button type="reset" class="btn btn-danger">
          <i class="fa fa-ban"></i> Limpiar
        </button>
      </div>


    </form>
  </div>
</div>

<!-- DATA TABLE-->
<div class="table-responsive m-b-40">
    <table class="table table-borderless table-data3">
      <thead>
          <tr>
            <th>Id</th>
            <th>Tipo de Material</th>
            <th>Nombre</th>
            <th>Color</th>
            <th>Stock</th>
            <th>Stock Mínimo</th>
            <th>Tiempo de Resposición</th>
            <th>Opciones</th>
          </tr>
      </thead>
      <tbody>
        {% for material in materiales %}
          <tr>
            <td>{{material.id_material}}</td>
            <td>{{material.tipo_material}}</td>
            <td>{{material.nombre}}</td>
            <td>
            <input type="color" name="favcolor" value="{{material.color}}" disabled >
            </td>
            <td style="text-align: right;">{{material.stock}}</td>
            <td style="text-align: right;">{{material.stock_minimo}}</td>
            <td style="text-align: right;">{{material.tiempo_reposicion}} Día/s</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'material:editar_material' material.id_material %}'">
                <i class="fas fa-pencil-square-o"></i>
              </button>
              <!-- Modal Eliminar -->
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2{{material.id_material}}">
                <i class="fas fa-trash"></i>
              </button>
              <div class="modal fade bs-example-modal-lg2{{material.id_material}}" id="myModal2{{material.id_material}}" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel{{material.id_material}}">Confirmar Eliminacion</h4>
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                              <a>¿Está seguro de <strong>eliminar</strong> el material?</a>
                          </div>
                          <div class="modal-footer">
                            <div class="alineado-derecha">
                              <a href="{% url 'material:eliminar_material' material.id_material %}">
                                <button type="button" class="btn btn-danger" >Eliminar</button>
                              </a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Modal -->
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="alineado-derecha">
    <button type="button" class="btn btn-danger" onclick="history.back()" >
      <i class="fa fa-chevron-left"></i> Volver
    </button>
  </div>
<!-- END DATA TABLE-->



{% endblock content%}
