{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Nueva Unidad de Medida
{% endblock titulo%}

{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Nueva Unidad de Medida</strong></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}
      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}

      {{unidad_medida_form.nombre.label}}
      <div class="form-control">
        {{unidad_medida_form.nombre}}
      </div>
      {{unidad_medida_form.descripcion.label}}
      <div class="form-control">
        {{unidad_medida_form.descripcion}}
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-dot-circle-o"></i> Crear
        </button>
        <button type="reset" class="btn btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    {% endif %}
    </form>


  </div>
</div>
</div>

{% endblock content%}
