{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Nuevo Tipo de Material
{% endblock titulo%}

{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Nuevo Tipo de Material</strong></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}
      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}

      <div class="row">
        <div class="col-md-4">
          {{tipo_material_form.nombre.label}}
          <div class="form-control">
            {{tipo_material_form.nombre}}
          </div>
        </div>
        <div class="col-md-3">
          {{tipo_material_form.unidad_medida.label}}
          <div class="form-control">
            {{tipo_material_form.unidad_medida}}
          </div>
        </div>
        <div class="col-md-1">
          <br>
          <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{% url 'material:crear_unidad_medida' %}'">
            <i class="fas fa-cog"></i>
          </button>
        </div>

      </div>

      <div class="card-footer alineado-derecha">
        <button type="submit" class="btn btn-success" name="boton_guardar_agregar">
          <i class="fa fa-dot-circle-o"></i> Crear y agregar otro
        </button>
        <button type="submit" class="btn btn-success" name="boton_guardar_listar">
          <i class="fa fa-dot-circle-o"></i> Crear y listar
        </button>
        <a href="{% url 'index'%}">
        <button type="button" class="btn btn-danger" >
          <i class="fa fa-ban"></i> Cancelar
        </button>
        </a>
      </div>
    {% endif %}
    </form>


  </div>
</div>
</div>

{% endblock content%}
