{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Nuevo Material
{% endblock titulo%}

{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Nuevo Material</strong></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}
      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}
      <div class="row">
        <div class="col-md-3">
          {{material_form.tipo_material.label}}
          <div class="form-control">
            {{material_form.tipo_material}}
          </div>
        </div>
        <div class="col-md-4">
          {{material_form.nombre.label}}
          <div class="form-control">
            {{material_form.nombre}}
          </div>
        </div>
        <div class="col-md-3">
          {{material_form.color.label}}
          <div class="form-control">
            {{material_form.color}}
          </div>
        </div>
      </div>
        {{material_form.stock.as_hidden}}

      <div class="card-footer alineado-derecha">
        <button type="submit" class="btn btn-success" name="boton_guardar_agregar">
          <i class="fa fa-dot-circle-o"></i> Crear y agregar otro
        </button>
        <button type="submit" class="btn btn-success" name="boton_guardar_listar">
          <i class="fa fa-dot-circle-o"></i> Crear y listar
        </button>
        <button type="reset" class="btn btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    {% endif %}
    </form>


  </div>
</div>

{% endblock content%}
