{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Nuevo Tipo de Material
{% endblock titulo%}

{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Nuevo Tipo de Material</strong></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}


      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            {% if message.tags == 'success'%}
              <div class="alert alert-success">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              </div>
            {% endif %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endif %}
            {% if message.tags == 'warning' %}
            <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

      <div class="row">
        <div class="col-md-4">
          {{tipo_material_form.nombre.label}}
            {{tipo_material_form.nombre}}
        </div>
        <div class="col-md-3">
          {{tipo_material_form.unidad_medida.label}}
            {{tipo_material_form.unidad_medida}}
        </div>
        <div class="col-md-1">
          <br>
          <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{% url 'material:crear_unidad_medida' %}'">
            <i class="fas fa-cog"></i>
          </button>
        </div>

      </div>

      <div class="card-footer alineado-derecha">
        <button type="submit" class="btn btn-success" name="boton_guardar_agregar">
          <i class="fa fa-dot-circle-o"></i> Crear y agregar otro
        </button>
        <button type="submit" class="btn btn-success" name="boton_guardar_listar">
          <i class="fa fa-dot-circle-o"></i> Crear y listar
        </button>
        <a href="{% url 'index'%}">
        <button type="button" class="btn btn-danger" >
          <i class="fa fa-ban"></i> Cancelar
        </button>
        </a>
      </div>
    </form>


  </div>
</div>

<!-- DATA TABLE-->
<div class="table-responsive m-b-40">
    <table class="table table-borderless table-data3">
      <thead>
          <tr>
            <th style="text-align: center;">Id</th>
            <th style="text-align: center;">Nombre</th>
            <th style="text-align: center;">U. de Medida</th>
            <th>Opciones</th>
          </tr>
      </thead>
      <tbody>
        {% for tipo_material in tipo_materiales %}
          <tr>
            <td style="text-align: center;">{{tipo_material.id_tipo_material}}</td>
            <td style="text-align: left;">{{tipo_material.nombre}}</td>
            <td style="text-align: left;">{{tipo_material.unidad_medida}}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'material:editar_tipo_material' tipo_material.id_tipo_material %}'">
                <i class="fas fa-pencil-square-o"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2{{tipo_material.id_tipo_material}}">
                <i class="fas fa-trash"></i>
              </button>
              <div class="modal fade bs-example-modal-lg2{{tipo_material.id_tipo_material}}" id="myModal2{{tipo_material.id_tipo_material}}" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel{{tipo_material.id_tipo_material}}">Confirmar Eliminacion</h4>
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                              <a>¿Está seguro de <strong>eliminar</strong> el tipo de material {{tipo_material.nombre}}?</a>
                          </div>
                          <div class="modal-footer">
                            <div class="alineado-derecha">
                              <a href="{% url 'material:eliminar_tipo_material' tipo_material.id_tipo_material %}">
                                <button type="button" class="btn btn-danger" >Eliminar</button>
                              </a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="alineado-derecha">
    <button type="button" class="btn btn-danger" onclick="history.back()" >
      <i class="fa fa-chevron-left"></i> Volver
    </button>
  </div>
<!-- END DATA TABLE-->

{% endblock content%}
