{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Editar Unidad de Medida
{% endblock titulo%}

{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Editar Unidad de Medida</strong></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}
      <div class="row">
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              {% if message.tags == 'success'%}
                <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
              {% endif %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              </div>
              {% endif %}
              {% if message.tags == 'warning' %}
              <div class="alert alert-warning">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              </div>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}

        <div class="col-md-3">
          {{unidad_medida_form.nombre.label}}
          <div class="form-control">
            {{unidad_medida_form.nombre}}
          </div>
        </div>
        <div class="col-md-3">
          {{unidad_medida_form.descripcion.label}}
          <div class="form-control">
            {{unidad_medida_form.descripcion}}
          </div>
        </div>
      </div>

      <div class="card-footer alineado-derecha">
        <button type="submit" class="btn btn-success" name="boton_guardar_listar">
          <i class="fa fa-dot-circle-o"></i> Actualizar
        </button>
        <button type="button" class="btn btn-danger" onclick="history.back()" >
          <i class="fa fa-ban"></i> Cancelar
        </button>
      </div>
    </form>


  </div>
</div>
{% if unidad_medidas %}
<!-- DATA TABLE-->
<div class="table-responsive m-b-40">
    <table class="table table-borderless table-data3">
      <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Opciones</th>
          </tr>
      </thead>
      <tbody>
        {% for unidad_medida in unidad_medidas %}
          <tr>
            <td>{{unidad_medida.id_unidad}}</td>
            <td>{{unidad_medida.nombre}}</td>
            <td>{{unidad_medida.descripcion}}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'material:editar_unidad_medida' unidad_medida.id_unidad %}'">
                <i class="fas fa-pencil-square-o"></i>
              </button>
              <!-- Modal Eliminar -->
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2{{unidad_medida.id_unidad}}">
                <i class="fas fa-trash"></i>
              </button>
              <div class="modal fade bs-example-modal-lg2{{unidad_medida.id_unidad}}" id="myModal2{{unidad_medida.id_unidad}}" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel{{unidad_medida.id_unidad}}">Confirmar Eliminacion</h4>
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                              <a>¿Está seguro de <strong>eliminar</strong> la unidad de medida?</a>
                          </div>
                          <div class="modal-footer">
                            <div class="alineado-derecha">
                              <a href="{% url 'material:eliminar_unidad_medida' unidad_medida.id_unidad %}">
                                <button type="button" class="btn btn-danger" >Eliminar</button>
                              </a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Modal -->
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="alineado-derecha">
    <button type="button" class="btn btn-danger" onclick="history.back()" >
      <i class="fa  fa-chevron-left"></i> Volver
    </button>
  </div>
<!-- END DATA TABLE-->
{% else %}
  <h1>No existen Unidades de medida registradas</h1>
{% endif %}

{% endblock content%}
