{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Asignar materiales
{% endblock titulo%}
{% block content%}
<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Asignar Materiales </strong><h class="card-title text-light">| {{prenda.tipo_prenda}} | {{pedido.cliente}}</h></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}
      <div class="row">
        {% if messages %}
        <div class="col-md-12">
          <ul class="messages">
            {% for message in messages %}
              {% if message.tags == 'success'%}
                <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
              {% endif %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              </div>
              {% endif %}
              {% if message.tags == 'warning' %}
              <div class="alert alert-warning">
                <div class="row">
                  <div class="col-md-9">
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                  </div>
                  <div class="col-md-3">
                    <div class="alineado-derecha">
                        <a href="#" class="btn btn-secondary" data-dismiss="alert" aria-label="close">Aceptar</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div class="col-md-3">
          {{ingrediente_form.material.label}}
            {{ingrediente_form.material}}
        </div>
        <div class="col-md-3">
          {{ingrediente_form.cantidad.label}}
          <div class="input-group">
            <div class="form-control">
              {{ingrediente_form.cantidad}}
            </div>
            <div class="input-group-addon">
              <p  id="unidad_medida"></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 alineado-derecha">
          {% if prenda.imagen %}
            <img src="{{prenda.imagen.url}}" width="200px" height="200px">
          {% endif %}
        </div>
      </div>

      <div class="card-footer">
        <div class="alineado-derecha">
          <button type="submit" class="btn btn-success" name="boton_guardar_cargar">
            <i class="fa fa-dot-circle-o"></i> Guardar y cargar otro
          </button>
          <button type="button" class="btn btn-success" onclick="location.href='{% url 'prenda:editar_prenda' detalle.prenda.id_prenda detalle.id_detalle detalle.pedido.id_pedido %}'">
            <i class="fa fa-dot-circle-o"></i> Finalizar
          </button>
          <button type="button" class="btn btn-danger" onclick="history.back()">
            <i class="fa fa-ban"></i> Cancelar
          </button>
        </div>
      </div>
      <hr class="line-seprate">
      {% if ingredientes %}
      <!-- DATA TABLE-->
      <div class="table-responsive m-b-40">
          <table class="table table-borderless table-data3">
              <thead>
                  <tr>
                      <th>Tipo de Prenda</th>
                      <th>Material</th>
                      <th>Cantidad</th>
                      <th>Unidad de Medida</th>
                      <th>Disponibilidad</th>
                      <th>Opciones</th>
                  </tr>
              </thead>
              <tbody>
                {% for ingrediente in ingredientes %}
                  <tr>
                    <td style="text-align: left">{{prenda.tipo_prenda}}</td>
                    <td style="text-align: left;">{{ingrediente.material}}</td>
                    <td style="text-align: center;">{{ingrediente.cantidad}}</td>
                    <td style="text-align: right;">{{ingrediente.material.tipo_material.unidad_medida.nombre}}</td>
                    <td >{{ingrediente.disponibilidad}}</td>
                    <td style="text-align: center;">
                        <div class="table-data-feature">
                          <!-- Modal Eliminar -->
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2{{ingrediente.id_ingrediente}}">
                            <i class="fas fa-trash"></i>
                          </button>
                          <div class="modal fade bs-example-modal-lg2{{ingrediente.id_ingrediente}}" id="myModal2{{ingrediente.id_ingrediente}}" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h4 class="modal-title" id="myModalLabel{{ingrediente.id_ingrediente}}">Confirmar Eliminacion</h4>
                                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                      </div>
                                      <div class="modal-body">
                                          <a>¿Está seguro de <strong>remover</strong> el material?</a>
                                      </div>
                                      <div class="modal-footer">
                                        <div class="alineado-derecha">
                                          <a href="{% url 'prenda:eliminar_ingrediente' ingrediente.id_ingrediente pedido.id_pedido detalle.id_detalle prenda.id_prenda %}">
                                            <button type="button" class="btn btn-danger" >Eliminar</button>
                                          </a>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- End Modal -->
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
      <!-- END DATA TABLE-->
      {% endif %}
    </form>
  </div>
</div>

{% endblock content%}
