{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Nuevo Tipo de Prenda
{% endblock titulo%}

{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Nuevo Tipo de Prenda</strong></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}
      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}

      {{tipo_prenda_form.nombre.label}}
      <div class="form-control">
        {{tipo_prenda_form.nombre}}
      </div>
      {{tipo_prenda_form.componente.label}}
      <div class="form-control">
        {{tipo_prenda_form.componente}}
      </div>
        {% for componente in componentes %}

        <div class="label label-info">{{componente.nombre}}</div>

        {% endfor %}
      <div class="card-footer">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-dot-circle-o"></i> Crear
        </button>
        <a href="{% url 'index'%}">
          <button type="button" class="btn btn-danger" onclick="history.back()">
            <i class="fa fa-ban"></i> Cancelar
          </button>
        </a>
      </div>
    {% endif %}
    </form>


  </div>
</div>
</div>

{% endblock content%}
