{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Nuevo Componente
{% endblock titulo%}
{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Nueva Prenda</strong></div>
  <div class="card-body card-block">
    <a>Cliente:{{pedido.cliente}}</a>
    <form method="POST">
      {%csrf_token%}
      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}

      <div class="row">
        <div class="col-md-7">
          {{prenda_form.tipo_prenda.label}}
          <div class="form-control">
            {{prenda_form.tipo_prenda}}
          </div>
        </div>
        <div class="col-md-5">
          {{prenda_form.talle.label}}
          <div class="form-control">
            {{prenda_form.talle}}
          </div>
        </div>

              <div class="col-md-3">
                {{prenda_form.tiempo_prod_prenda.label}}
                <div class="input-group">
                  <div class="form-control">
                    {{prenda_form.tiempo_prod_prenda}}
                  </div>
                  <div class="input-group-addon">
                    Días
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                {{prenda_form.precio.label}}
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-dollar"></i>
                  </div>
                  <div class="form-control">
                    {{prenda_form.precio}}
                  </div>
                </div>

              </div>
              <div class="col-md-5">
                {{detalle_form.cantidad.label}}
                <div class="input-group">
                  <div class="form-control">
                    {{detalle_form.cantidad}}
                  </div>
                  <div class="input-group-addon">
                    Unidad/es
                  </div>
                </div>

              </div>
        </div>

      <div class="card-footer">
        <div class="alineado-derecha">
          <button type="submit" class="btn btn-success onclick="location.href='/prenda/crear_prenda/'"">
            <i class="fa fa-dot-circle-o"></i> Crear Prenda
          </button>
          <button type="button" class="btn btn-danger" onclick="history.back()">
            <i class="fa fa-ban"></i> Cancelar
          </button>
        </div>
      </div>
    {% endif %}
    </form>


  </div>
</div>
</div>

{% endblock content%}
