{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Nuevo Componente
{% endblock titulo%}
{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Nuevo Componente</strong></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}
      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}

      {{componente_form.nombre.label}}
      <div class="form-control">
        {{componente_form.nombre}}
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-dot-circle-o"></i> Crear
        </button>
        <a href="{% url 'index'%}">
        <button type="button" class="btn btn-danger" >
          <i class="fa fa-ban"></i> Cancelar
        </button>
        </a>
      </div>
    {% endif %}
    </form>


  </div>
</div>
</div>

{% endblock content%}
