{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>

{% block titulo%}
Editar Tipo de Prenda
{% endblock titulo%}

{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Editar Tipo de Prenda</strong></div>
  <div class="card-body card-block">
    <form method="POST">
      {%csrf_token%}
      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}

      {{tipo_prenda_form.nombre.label}}
      <div class="form-control">
        {{tipo_prenda_form.nombre}}
      </div>
      {{tipo_prenda_form.medida.label}}
        {{tipo_prenda_form.medida}}

      <div class="card-footer alineado-derecha">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-dot-circle-o"></i> Actualizar
        </button>
        <a href="{% url 'index'%}">
          <button type="button" class="btn btn-danger" onclick="history.back()">
            <i class="fa fa-ban"></i> Cancelar
          </button>
        </a>
      </div>
    {% endif %}
    </form>


  </div>
</div>

{% if tipo_prendas %}
<!-- DATA TABLE-->
<div class="table-responsive m-b-40">
    <table class="table table-borderless table-data3">
      <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Opciones</th>
          </tr>
      </thead>
      <tbody>
        {% for tipo_prenda in tipo_prendas %}
          <tr>
            <td>{{tipo_prenda.id_tipo_prenda}}</td>
            <td>{{tipo_prenda.nombre}}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'prenda:editar_tipo_prenda' tipo_prenda.id_tipo_prenda %}'">
                <i class="fas fa-pencil-square-o"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{% url 'prenda:eliminar_tipo_prenda' tipo_prenda.id_tipo_prenda %}'">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="alineado-derecha">
    <button type="button" class="btn btn-danger" onclick="history.back()" >
      <i class="fa fa-chevron-left"></i> Volver
    </button>
  </div>
<!-- END DATA TABLE-->
{% else %}
  <h1>No existen Tipos de Prendas registrados</h1>
{% endif %}

{% endblock content%}
