{% extends 'index.html' %}

<!DOCTYPE html>

{% block titulo%}
Listado de Tipos de Prendas
{% endblock titulo%}

{% block content%}

{% if tipo_prendas %}
<!-- DATA TABLE-->
<div class="table-responsive m-b-40">
    <table class="table table-borderless table-data3">
      <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Opciones</th>
          </tr>
      </thead>
      <tbody>
        {% for tipo_prenda in tipo_prendas %}
          <tr>
            <td>{{tipo_prenda.id_tipo_prenda}}</td>
            <td>{{tipo_prenda.nombre}}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'prenda:editar_tipo_prenda' tipo_prenda.id_tipo_prenda %}'">
                <i class="fas fa-pencil-square-o"></i>
              </button>
              <!-- Modal Eliminar -->
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2{{tipo_prenda.id_tipo_prenda}}">
                <i class="fas fa-trash"></i>
              </button>
              <div class="modal fade bs-example-modal-lg2{{tipo_prenda.id_tipo_prenda}}" id="myModal2{{tipo_prenda.id_tipo_prenda}}" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel{{tipo_prenda.id_tipo_prenda}}">Confirmar Eliminacion</h4>
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                              <a>¿Está seguro de <strong>eliminar</strong> el tipo de prenda?</a>
                          </div>
                          <div class="modal-footer">
                            <div class="alineado-derecha">
                              <a href="{% url 'prenda:eliminar_tipo_prenda' tipo_prenda.id_tipo_prenda %}">
                                <button type="button" class="btn btn-danger" >Eliminar</button>
                              </a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Modal -->
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="alineado-derecha">
    <button type="button" class="btn btn-danger" onclick="history.back()" >
      <i class="fa fa-chevron-left"></i> Volver
    </button>
  </div>
<!-- END DATA TABLE-->
{% else %}
  <h1>No existen Tipos de Prendas registrados</h1>
{% endif %}
{% endblock content %}
