{% extends 'index.html' %}

<!DOCTYPE html>

{% block titulo%}
Listado de componentes
{% endblock titulo%}

{% block content%}

{% if componentes %}
<!-- DATA TABLE-->
<div class="table-responsive m-b-40">
    <table class="table table-borderless table-data3">
      <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Opciones</th>
          </tr>
      </thead>
      <tbody>
        {% for componente in componentes %}
          <tr>
            <td>{{componente.id_componente}}</td>
            <td>{{componente.nombre}}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" onclick="location.href='#'">
                <i class="fas fa-eye"></i>
              </button>
              <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'prenda:editar_componente' componente.id_componente %}'">
                <i class="fas fa-pencil-square-o"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{% url 'prenda:eliminar_componente' componente.id_componente %}'">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div
<!-- END DATA TABLE-->
{% else %}
  <h1>No existen clientes registrados</h1>
{% endif %}
{% endblock content %}
