{% extends 'index.html'%}

{% block titulo %}
Listado de Componentes
{% endblock titulo %}

{% block body %}
  {% if componentes %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for componente in componentes %}
          <tr>
            <td>{{componente.id_componente}}</td>
            <td>{{componente.nombre}}</td>
            <td>
            <a href="{% url 'prenda:editar_componente' componente.id_componente %}">Editar</a>
            <a href="{% url 'prenda:eliminar_componente' componente.id_componente %}">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h1>No existen componentes registrados</h1>
  {% endif %}
  <a href="javascript:history.back()"><img src="../../static/images/boton.png" height="33" width="100" alt="Botón"</a>
{% endblock body %}
