{% extends 'index.html' %}

<!DOCTYPE html>
{% block titulo%}
Crear pedido
{% endblock titulo%}
{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Agregar pedido</strong></div>
  <div class="card-body card-block">

    <form method="POST">
      {% csrf_token %}
      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}
      
      {{pedido_form.fecha_entrega.label}}
      <div class="form-control">
        {{pedido_form.fecha_entrega}}
      </div>
      {{pedido_form.precio_total.label}}
      <div class="form-control">
        {{pedido_form.precio_total}}
      </div>
      {{pedido_form.entrega.label}}
      <div class="form-control">
        {{pedido_form.entrega}}
      </div>
      {{pedido_form.seña.label}}
      <div class="form-control">
        {{pedido_form.seña}}
      </div>
      {{pedido_form.prioridad_entrega.label}}
      <div class="form-control">
        {{pedido_form.prioridad_entrega}}
      </div>
      {{pedido_form.cliente.label}}
      <div class="form-control">
        {{pedido_form.cliente}}
      </div>

      {% endif %}
      <div class="card-footer">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-dot-circle-o"></i> Crear
        </button>
        <button type="reset" class="btn btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>

    </form>


  </div>
</div>
</div>
{% endblock content%}
