{% extends 'index.html' %}

<!DOCTYPE html>
{% block titulo%}
Nuevo Pedido
{% endblock titulo%}
{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Nuevo Pedido</strong></div>
  <div class="card-body card-block">

    <form method="POST">
      {% csrf_token %}
      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}

      {{pedido_form.cliente.label}}
      <div class="form-control">
        {{pedido_form.cliente}}
      </div>
      {{pedido_form.apellido.label}}
      <div class="form-control">
        {{pedido_form.apellido}}
      </div>
      {{pedido_form.nombre.label}}
      <div class="form-control">
        {{pedido_form.nombre}}
      </div>
      {{pedido_form.telefono.label}}
      <div class="form-control">
        {{pedido_form.telefono}}
      </div>
      {{pedido_form.correo.label}}
      <div class="form-control">
        {{pedido_form.correo}}
      </div>
      {{pedido_form.domicilio.label}}
      <div class="form-control">
        {{pedido_form.domicilio}}
      </div>

      {% endif %}
      <div class="card-footer">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-dot-circle-o"></i> Crear
        </button>
        <button type="reset" class="btn btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>

    </form>


  </div>
</div>
</div>
{% endblock content%}
