{% extends 'index.html' %}

<!DOCTYPE html>

{% block titulo%}
Listado de pedidos
{% endblock titulo%}

{% block content%}

<!-- Filtros -->

<!-- DATA TABLE -->
<input type="hidden" name="titulo" class="titulo_reporte"  id="titulo" value="Lista de pedidos">
<input type="hidden" name="empresa" class="empresa_reporte" id="empresa" value="{{reporte.empresa}}">
<input type="hidden" name="direccion" class="direccion_reporte" id="direccion" value="{{reporte.direccion}}">
<input type="hidden" name="telefono" class="telefono_reporte" id="telefono" value="{{reporte.telefono}}">
<input type="hidden" name="usuario" class="usuario_reporte" id="usuario" value="{{user.username}}">

<strong class="card-title">Filtrar</strong>
<div class="card">
  <br>
  <div class="table-data__tool">
      <div class="table-data__tool-left">
          <span>Entre:</span>
          <div class="rs-select2--light rs-select2--sm">
            <div class="form-control">
              <input type="" name="" value="" id="min">
            </div>
          </div>
          <h> y </h>
          <div class="rs-select2--light rs-select2--sm">
            <div class="form-control">
              <input type="" name="" value="" id="max">
            </div>
          </div>
    </div>
      <div class="alineado-derecha">
        <div class="table-data__tool-right">
          <div class="form-control">
            <input type="" name="" placeholder="Buscar" value="" id="midtbusqueda">
          </div>
        </div>
      </div>

  </div>
</div>
{% if messages %}
<div class="col-md-12">
  <ul class="messages">
    {% for message in messages %}
      {% if message.tags == 'success'%}
        <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        </div>
      {% endif %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      </div>
      {% endif %}
      {% if message.tags == 'warning' %}
      <div class="alert alert-warning">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      </div>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
<div class="table-responsive table-responsive-data2">
    <table class="table table-data2" id="midatatable">
        <thead>
            <tr>
                <th></th>
                <th>N°</th>
                <th>DNI</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Entrega</th>
                <th>Estado</th>
                <th>Prioridad</th>
                <th class="noExport">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr class="tr-shadow">
              <td></td>
              <td style="text-align: right;">{{pedido.pedido.id_pedido}}</td>
              <td style="text-align: center;">{{pedido.pedido.cliente.dni}}</td>
              <td style="text-align: left;">{{pedido.pedido.cliente.apellido}}</td>
              <td style="font-size: 12px;text-align: center;">{{pedido.pedido.fecha_entrega|date:'d-m-Y'}}</td>
              <td style="text-align: right;">${{pedido.pedido.precio_total}}</td>
              <td style="text-align: right;">${{pedido.pedido.entrega}}</td>
              <td style="text-align: right;">{{pedido.estado}}</td>
              <td style="text-align: center;">
                {% if pedido.pedido.prioridad_entrega == '2' %}
                  Alta
                {% endif %}
                {% if pedido.pedido.prioridad_entrega == '1' %}
                  Media
                {% endif %}
                {% if pedido.pedido.prioridad_entrega == '0' %}
                  Baja
                {% endif %}
              </td>
                <td>
                    <div class="table-data-feature">
                      <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'pedido:ver_pedido' pedido.pedido.id_pedido %}'">
                        <i class="fas fa-eye"></i>
                      </button>
                      <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'pedido:editar_pedido' pedido.pedido.id_pedido %}'">
                        <i class="fas fa-pencil-square-o"></i>
                      </button>
                      <!-- Modal Eliminar -->
                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2{{pedido.pedido.id_pedido}}">
                        <i class="fas fa-trash"></i>
                      </button>
                      <div class="modal fade bs-example-modal-lg2{{pedido.pedido.id_pedido}}" id="myModal2{{pedido.pedido.id_pedido}}" tabindex="-1" role="dialog" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h4 class="modal-title" id="myModalLabel{{pedido.pedido.id_pedido}}">Confirmar Eliminacion</h4>
                                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                  </div>
                                  <div class="modal-body">
                                      <a>¿Está seguro de <strong>eliminar</strong> el pedido?</a>
                                  </div>
                                  <div class="modal-footer">
                                    <div class="alineado-derecha">
                                      <a href="{% url 'pedido:eliminar_pedido' pedido.pedido.id_pedido %}">
                                        <button type="button" class="btn btn-danger" >Eliminar</button>
                                      </a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Modal -->
                    </div>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
<!-- END DATA TABLE -->

{% if id_pedido != NONE %}
<!-- Modal numero de pedido -->
<div class="modal fade" id="modal_numero_pedido" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Número de Seguimiento</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <h1 class="alineado-centro">{{id_pedido}}</h1>
            </div>
            <div class="modal-footer">
              <div class="alineado-derecha">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal numero de pedido -->
{% endif %}


<script>
		window.onload=function() {
			$('#modal_numero_pedido').modal('show');
		}
</script>
{% endblock content %}
