{% extends 'index.html' %}

<!DOCTYPE html>

{% block titulo%}
Listado de pedidos
{% endblock titulo%}

{% block content%}

{% if pedidos %}

<!-- Filtros -->

<!-- DATA TABLE -->
<strong class="card-title">Filtrar</strong>
<div class="card">
  <br>
  <div class="table-data__tool">
      <div class="table-data__tool-left">
        <span>Prioridad:</span>
          <div class="rs-select2--light rs-select2--sm">
              <select class="btn btn-secondary" name="property">
                  <option value="2">Alta</option>
                  <option value="1">Media</option>
                  <option value="0">Baja</option>
              </select>
              <div class="dropDownSelect2"></div>
          </div>
          <span>Entre:</span>
          <div class="rs-select2--light rs-select2--sm">
            <div class="form-control">
              <input type="" name="" value="" id="min">
            </div>
          </div>
          <h> y      </h>
          <div class="rs-select2--light rs-select2--sm">
            <div class="form-control">
              <input type="" name="" value="" id="max">
            </div>
          </div>
    </div>
      <div class="alineado-derecha">
        <div class="table-data__tool-right">
          <div class="form-control">
            <input type="" name="" placeholder="Buscar" value="" id="midtbusqueda">
          </div>
        </div>
      </div>

  </div>
</div>

<div class="table-responsive table-responsive-data2">
    <table class="table table-data2" id="midatatable">
        <thead>
            <tr>
                <th>ID</th>
                <th>DNI</th>
                <th>Cliente</th>
                <th>Fecha E.</th>
                <th>Total</th>
                <th>Entrega</th>
                <th>Seña</th>
                <th>Prioridad</th>
                <th class="noExport">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr class="tr-shadow">
              <td>{{pedido.id_pedido}}</td>
              <td style="text-align: right;">{{pedido.cliente.dni}}</td>
              <td style="text-align: left;">{{pedido.cliente}}</td>
              <td style="text-align: center;">{{pedido.fecha_entrega|date:'d-m-Y'}}</td>
              <td style="text-align: right;">${{pedido.precio_total}}</td>
              <td style="text-align: right;">${{pedido.entrega}}</td>
              <td style="text-align: right;">${{pedido.seña}}</td>
              <td>{{pedido.prioridad_entrega}}</td>
                <td>
                    <div class="table-data-feature">
                      <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'pedido:editar_pedido' pedido.id_pedido %}'">
                        <i class="fas fa-pencil-square-o"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{% url 'pedido:eliminar_pedido' pedido.id_pedido %}'">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
<!-- END DATA TABLE -->

{% else %}
  <h1>No existen pedidos registradas</h1>
{% endif %}
{% endblock content %}
