{% extends 'index.html' %}

<!DOCTYPE html>
{% block titulo%}
Ver pedido
{% endblock titulo%}
{% block content%}



<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Ver pedido</strong></div>
  <div class="card-body card-block">


    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <input type="hidden" id="min" value="">
        <input type="hidden" id="max" value="">
        {% if messages %}
        <div class="col-md-12">
          <ul class="messages">
            {% for message in messages %}
              {% if message.tags == 'success'%}
                <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
              {% endif %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              </div>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <!-- cliente -->

        <!-- end cliente -->
        <div class="col-md-12">
          {{pedido_form.cliente.label}}
          <div class="form-control">
              {{cliente}}
          </div>
          <br>
          <!-- Button trigger modal -->
          <a>Prenda/s</a>
          {% if detalles %}
          <!-- DATA TABLE-->
          <div class="table-responsive m-b-40">
              <table class="table table-borderless table-data3">
                  <thead>
                      <tr>
                          <th>Tipo de Prenda</th>
                          <th>Talle</th>
                          <th>Precio Unitario</th>
                          <th>Cantidad</th>
                          <th>Tiempo Prod. Lote</th>
                          <th>Opciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for detalle in detalles %}
                      <tr>
                        <td>{{detalle.prenda.tipo_prenda}}</td>
                        <td style="text-align: center;">{{detalle.prenda.talle}}</td>
                        <td style="text-align: right;">${{detalle.prenda.precio}}</td>
                        <td style="text-align: center;">{{detalle.cantidad}} Unidad/es</td>
                        <td style="text-align: center;">{{detalle.tiempo_prod_lote}} Día/s</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'prenda:editar_prenda' detalle.prenda.id_prenda detalle.id_detalle detalle.pedido.id_pedido %}'">
                              <i class="fas fa-pencil-square-o"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{% url 'prenda:eliminar_prenda' detalle.prenda.id_prenda detalle.id_detalle detalle.pedido.id_pedido %}'">
                              <i class="fas fa-trash"></i>
                            </button>
                        </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
          <!-- END DATA TABLE-->
          {% endif %}
        </div>

        <hr class="line-seprate">
        <div class="col-md-4">
          {{pedido_form.fecha_entrega.label}}
          <div disable class="form-control">
            <input readonly="readonly" value="{{pedido_form.fecha_entrega.value}}">
          </div>
        </div>
        <div class="col-md-4">
          {{pedido_form.prioridad_entrega.label}}
          <div class="form-control">
            {% if pedido_form.prioridad_entrega.value == "0" %}
            <input readonly="readonly" value="Baja">
            {% endif %}
            {% if pedido_form.prioridad_entrega.value == "1" %}
            <input readonly="readonly" value="Media">
            {% endif %}
            {% if pedido_form.prioridad_entrega.value == "2" %}
            <input readonly="readonly" value="Alta">
            {% endif %}
          </div>
        </div>
        <div class="col-md-4">
          {{pedido_form.precio_total.label}}
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-dollar"></i>
            </div>
            <div class="form-control">
              <input readonly="readonly" value="{{pedido_form.precio_total.value}}">
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <a>Seña minima</a>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-dollar"></i>
            </div>
            <div class="form-control">
              <input readonly="readonly" value="{{pedido_form.seña.value}}">
            </div>
          </div>

        </div>
        <div class="col-md-3">

          Entregado
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-dollar"></i>
            </div>
            <div class="form-control">
              <input readonly="readonly" value="{{pedido_form.entrega.value}}">
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <br>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bs-example-modal-lg7">
                    <i class="fas fa-clock-o"></i>
                    <i class="fas fa-list-ul"></i>
          </button>
        </div>
        <div class="col-md-4">
          {% if estado %}
          Estado
          <div class="input-group">
            {% if estado.estado_id == 6 %}
            <div class="btn btn-primary">
                {{estado}}
            </div>
            {% endif %}
            {% if estado.estado_id == 5 %}
            <div class="btn btn-danger">
                {{estado}}
            </div>
            {% endif %}
            {% if estado.estado_id == 4 %}
            <div class="btn btn-success">
                {{estado}}
            </div>
            {% endif %}
            {% if estado.estado_id == 3 %}
            <div class="btn btn-info">
                {{estado}}
            </div>
            {% endif %}
            {% if estado.estado_id == 2 %}
            <div class="btn btn-warning">
                {{estado}}
            </div>
            {% endif %}
            <div class="col-md-3">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg4">
                        <i class="fas fa-clock-o"></i>
              </button>
            </div>
          </div>

          {% endif %}
        </div>

      </div>
<br>
      <div class="card-footer">
        <div class="row">
            {% if estado.estado_id == 6 or estado.estado_id == 2 %}  <!-- 6 = en espera, 2 en produccion -->
              <div class="col-md-2">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target=".bs-example-modal-lg2{{pedido_form.id_pedido}}">
                  Cancelar Pedido
                </button>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=".bs-example-modal-lg5{{pedido_form.id_pedido}}">
                  Finalizar Pedido
                </button>
              </div>
              <div class="col-md-2">
                {% if pedido.entrega != pedido.precio_total %}
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target=".bs-example-modal-lg3{{pedido_form.id_pedido}}">
                  Registrar entrega
                </button>
                {% endif %}
              </div>
           {% endif %}

           {% if estado.estado_id == 3 %}  <!-- 3 = Finalizado -->
             <div class="col-md-2">
               <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target=".bs-example-modal-lg6{{pedido_form.id_pedido}}">
                 Pedido Entregado
               </button>
             </div>
             <div class="col-md-2">

             </div>
             <div class="col-md-2">

             </div>
          {% endif %}

          {% if estado.estado_id == 4 or estado.estado_id == 5 %}  <!-- 3 = Entregado -->
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
         {% endif %}

            <div class="col-md-5">
            </div>
              <button type="button" class="btn btn-danger" onclick="history.back()">
                <i class="fa fa-chevron-left"></i> Volver
              </button>
        </div>



            <!-- Modal Cancelar -->
            <div class="modal fade bs-example-modal-lg2{{pedido_form.id_pedido_form}}" id="myModal2{{pedido_form.id_pedido_form}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel{{pedido_form.id_pedido_form}}">Cancelar Pedido</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <a>Está a punto de <strong>cancelar</strong> el pedido, debe <strong>puntuar</strong> al cliente</a>

                        </div>
                          <br>
                          <div class="alineado-centro">
                            <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkMM" value="checkMM">Muy Mala</label>
                            <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkM" value="checkM">Mala</label>
                            <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkR" checked value="checkR">Regular</label>
                            <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkB" value="checkB">Buena</label>
                            <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkMB" value="checkMB">Muy Buena</label>
                          <!-- Material checked -->
                          </div>


                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <button type="submit" class="btn btn-danger" name="boton_cancelar">Confirmar y puntuar</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <!-- Modal Registrar entrega -->
            <div class="modal fade bs-example-modal-lg3{{pedido_form.id_pedido_form}}" id="myModal2{{pedido_form.id_pedido_form}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel{{pedido_form.id_pedido_form}}">Registrar Entrega</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <p>Entrega:</p>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-dollar"></i>
                              </div>
                              <div class="form-control">
                                <input type="number" name="registrar_entrega">
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <button type="submit" name="boton_registrar_entega" class="btn btn-danger" >Registrar</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <!-- Modal Historico de estados -->
            <div class="modal fade bs-example-modal-lg4" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Estados</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <!-- DATA TABLE-->
                          <div class="table-responsive m-b-40">
                              <table class="table table-borderless table-data3">
                                  <thead>
                                      <tr>
                                          <th>Fecha</th>
                                          <th>Estado</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for estado in estados %}
                                      <tr>
                                        <td>{{estado.fecha}}</td>
                                        <td style="text-align: left;">{{estado}}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                          <!-- END DATA TABLE-->
                        </div>
                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->


            <!-- Modal Historico de entregas -->
            <div class="modal fade bs-example-modal-lg7" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Entregas</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <!-- DATA TABLE-->
                          <div class="table-responsive m-b-40">
                              <table class="table table-borderless table-data3">
                                  <thead>
                                      <tr>
                                          <th>N°</th>
                                          <th>Monto</th>
                                          <th>Fecha</th>
                                          <th>Saldo</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for entrega in entregas %}
                                      <tr>
                                        <td>{{entrega.id_entrega}}</td>
                                        <td style="text-align: right;">${{entrega.monto}}</td>
                                        <td>{{entrega.fecha_entrega}}</td>
                                        <td style="text-align: right;">${{entrega.saldo}}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                          <!-- END DATA TABLE-->
                        </div>
                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <!-- Modal Registrar entrega -->
            <div class="modal fade bs-example-modal-lg5{{pedido_form.id_pedido_form}}" id="myModal2{{pedido_form.id_pedido_form}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel{{pedido_form.id_pedido_form}}">Finalizar pedido</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Desea <strong>finalizar</strong> el pedido</p>
                        </div>
                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <a href="{% url 'pedido:finalizar_pedido' pedido.id_pedido %}">
                                <button type="button" class="btn btn-danger" >Finalizar</button>
                              </a>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <!-- Modal Registrar entrega -->
            <div class="modal fade bs-example-modal-lg6{{pedido_form.id_pedido_form}}" id="myModal{{pedido_form.id_pedido_form}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel{{pedido_form.id_pedido_form}}">Entregar pedido</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Desea <strong>Entregar</strong> el pedido? Debe <strong>Puntuar al cliente</strong></p>
                        </div>

                        <br>
                        <div class="alineado-centro">
                          <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkMM" value="checkMM">Muy Mala</label>
                          <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkM" value="checkM">Mala</label>
                          <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkR" checked value="checkR">Regular</label>
                          <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkB" value="checkB">Buena</label>
                          <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkMB" value="checkMB">Muy Buena</label>
                        <!-- Material checked -->
                        </div>

                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <a href="{% url 'pedido:entregar_pedido' pedido.id_pedido %}">
                                <button type="submit" class="btn btn-danger" name="boton_entregar">Entregar y Puntuar</button>
                              </a>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

          </div>
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock content%}
