{% extends 'index.html' %}

<!DOCTYPE html>
{% block titulo%}
Ver pedido
{% endblock titulo%}
{% block content%}

<div class="card">
  <div class="card-header bg-success"><strong class="card-title text-light">Ver pedido</strong></div>
  <div class="card-body card-block">

    <form method="POST">
      {% csrf_token %}
      <div class="alineado-derecha">
        <div class="fa-hover">
          <a href="JavaScript:Void(0);">
            <i class="fa fa-question-circle" onclick="javascript:introJs().start().oncomplete(function(){window.location.href = '/prenda/ver_prenda/0/0/0'});;"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <input type="hidden" id="min" value="">
        <input type="hidden" id="max" value="">
        {% if messages %}
        <div class="col-md-12">
          <ul class="messages">
            {% for message in messages %}
              {% if message.tags == 'success'%}
                <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
              {% endif %}
              {% if message.tags == 'warning' %}
              <div class="alert alert-warning">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              </div>
              {% endif %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              </div>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <!-- cliente -->

        <!-- end cliente -->
        <div class="col-md-12" >
          {{pedido_form.cliente.label}}
          <div class="form-control" data-step="1" data-intro='En esta página verá información del pedido como ser el cliente al cual se encuentra asociado'>
              {{cliente}}
          </div>
          <br>
          <!-- Button trigger modal -->
          <a>Prenda/s</a>
          {% if detalles %}
          <!-- DATA TABLE-->
          <div class="table-responsive m-b-40" data-step="2" data-intro='Las prendas agregadas al pedido'>
              <table class="table table-borderless table-data3" data-step="15" data-intro='En cuanto a las prendas agregadas al pedido podemos ver información sobre:'>
                  <thead>
                      <tr>
                          <th>Tipo de Prenda</th>
                          <th>Talle</th>
                          <th>Precio Unitario</th>
                          <th>Cantidad</th>
                          <th>Tiempo Prod. Lote</th>
                          <th>M. Asignados</th>
                          <th>Opciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for detalle in detalles %}
                      <tr>
                        <td data-step="16" data-intro='El tipo de prenda'>{{detalle.prenda.tipo_prenda}}</td>
                        <td data-step="17" data-intro='El talle' style="text-align: center;">{{detalle.prenda.talle}}</td>
                        <td data-step="18" data-intro='El precio unitario' style="text-align: right;">${{detalle.prenda.precio}}</td>
                        <td data-step="19" data-intro='La cantidad solicitada' style="text-align: center;">{{detalle.cantidad}} Unidad/es</td>
                        <td data-step="20" data-intro='El tiempo de produccion total' style="text-align: center;">{{detalle.tiempo_prod_lote}} Día/s</td>
                        <td data-step="21" data-intro='información sobre ,si fueron asignados o no, los materiales para la prenda'>
                        {% if detalle.prenda.pk in ingredientes %}
                          SI
                        {% else %}
                          NO
                        {% endif %}
                        </td>
                        <td>
                          {% if user.rol.nombre == 'Modista' or user.rol.nombre == 'Administrador' %}

                          <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'prenda:ver_prenda' detalle.prenda.id_prenda detalle.id_detalle detalle.pedido.id_pedido %}'" data-step="24" data-intro='Al seleccionar la opción "Ver prenda" lo redirige a otra página en la cual podrá tener información acerca de la prenda y asignar materiales"'>
                            <i class="fas fa-eye"></i>
                          </button>
                            <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'prenda:editar_prenda' detalle.prenda.id_prenda detalle.id_detalle detalle.pedido.id_pedido %}'" data-step="22" data-intro='Al seleccionar la opción "Editar prenda lo redirigirá a una página donde podrá editar la prenda"'>
                              <i class="fas fa-pencil-square-o"></i>
                            </button>
                            <!-- Modal Eliminar -->
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".eliminar_prenda{{detalle.prenda.pk}}" data-step="23" data-intro='Al seleccionar la opción "Eliminar prenda" se mostrará una ventana para confirmar la eliminación de la misma'>
                              <i class="fas fa-trash"></i>
                            </button>
                            <div class="modal fade eliminar_prenda{{detalle.prenda.pk}}" id="myModal2{{prenda.pk}}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel{{detalle.prenda.pk}}">Confirmar Eliminacion</h4>
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <a>¿Está seguro de <strong>eliminar</strong> la prenda?</a>
                                        </div>
                                        <div class="modal-footer">
                                          <div class="alineado-derecha">
                                            <a href="{% url 'prenda:eliminar_prenda' detalle.prenda.pk detalle.pk detalle.pedido.pk %}">
                                              <button type="button" class="btn btn-danger" >Eliminar</button>
                                            </a>
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                          </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Modal -->
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
          <!-- END DATA TABLE-->
          {% endif %}
        </div>

        <hr class="line-seprate">
        <div class="col-md-4" data-step="3" data-intro='La fecha de entrega del pedido'>
          {{pedido_form.fecha_entrega.label}}
          <div disable class="form-control">
            <input readonly="readonly" value="{{pedido_form.fecha_entrega.value}}">
          </div>
        </div>
        <div class="col-md-4" data-step="4" data-intro='La prioridad establecida'>
          {{pedido_form.prioridad_entrega.label}}
          <div class="form-control">
            {% if pedido_form.prioridad_entrega.value == "0" %}
            <input readonly="readonly" value="Baja">
            {% endif %}
            {% if pedido_form.prioridad_entrega.value == "1" %}
            <input readonly="readonly" value="Media">
            {% endif %}
            {% if pedido_form.prioridad_entrega.value == "2" %}
            <input readonly="readonly" value="Alta">
            {% endif %}
          </div>
        </div>
        <div class="col-md-4" data-step="5" data-intro='El precio total'>
          {{pedido_form.precio_total.label}}
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-dollar"></i>
            </div>
            <div class="form-control">
              <input readonly="readonly" value="{{pedido_form.precio_total.value}}">
            </div>
          </div>

        </div>
        <div class="col-md-4" data-step="6" data-intro='La seña mínima solicitada para comenzar la producción'>
          <a>Seña minima</a>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-dollar"></i>
            </div>
            <div class="form-control">
              <input readonly="readonly" value="{{pedido_form.seña.value}}">
            </div>
          </div>

        </div>
        <div class="col-md-3" data-step="7" data-intro='El monto entregado hasta el momento'>

          Entregado
          <div class="input-group" >
            <div class="input-group-addon">
              <i class="fa fa-dollar"></i>
            </div>
            <div class="form-control">
              <input readonly="readonly" value="{{pedido_form.entrega.value}}">
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <br>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bs-example-modal-lg7" data-step="8" data-intro='Haciendo click sobre el botón, verá información acerca de las entregas registradas para el pedido'>
                    <i class="fas fa-clock-o"></i>
                    <i class="fas fa-list-ul"></i>
          </button>
        </div>
        <div class="col-md-4" data-step="9" data-intro='Se muestra el estado en que se encuentra el pedido actualmente'>
          {% if estado %}
          Estado
          <div class="input-group">
            {% if estado.estado_id == 6 %}
            <div class="btn btn-primary">
                {{estado}}
            </div>
            {% endif %}
            {% if estado.estado_id == 5 %}
            <div class="btn btn-danger">
                {{estado}}
            </div>
            {% endif %}
            {% if estado.estado_id == 4 %}
            <div class="btn btn-success">
                {{estado}}
            </div>
            {% endif %}
            {% if estado.estado_id == 3 %}
            <div class="btn btn-info">
                {{estado}}
            </div>
            {% endif %}
            {% if estado.estado_id == 2 %}
            <div class="btn btn-warning">
                {{estado}}
            </div>
            {% endif %}
            <div class="col-md-3">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg4" data-step="10" data-intro='Haciendo click sobre el botón podrá ver información acerca de los estados por los que pasó el pedido'>
                        <i class="fas fa-clock-o"></i>
              </button>
            </div>
          </div>

          {% endif %}
        </div>

      </div>
      {% if envio and envio_dias %}
      <hr class="line-seprate">
      <br>
        Detalles de envio
        <div class="task-progress col-6" style="padding-top:20px;padding-bottom:20px" data-step="14" data-intro='En caso de que el usuario brinde los datos de envío se mostrarán en este apartado'>
          <strong>Domicilio:</strong>
          <div class="">
              {{envio.domicilio}}
          </div>
          <br>
          <strong>Horarios disponibles:</strong>
          <div class="">
               {{envio.desde}} - {{envio.hasta}}
          </div>
          <br>
          <strong>Días disponibles:</strong>
          <div class="">
            {% for dia in envio_dias %}
            <div class="">
              {{dia}}
            </div>
            {% endfor %}
          </div>


        {% endif %}
        </div>

<br>
      <div class="card-footer">
        <div class="row">
            {% if estado.estado_id == 6 or estado.estado_id == 2 %}  <!-- 6 = en espera, 2 en produccion -->
              {% if user.rol.nombre == 'Modista' or user.rol.nombre == 'Administrador' %}
              <div class="col-md-2" data-step="11" data-intro='En esta sección se muetran diferentes opciones dependiendo del estado del pedido, por ejemplo "Cancelar Pedido", el cual abre una ventana en la cual debe confirmar la cancelación del mismo ademas de puntuar al cliente'>
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target=".bs-example-modal-lg2{{pedido_form.id_pedido}}">
                  Cancelar Pedido
                </button>
              </div>
              <div class="col-md-2" data-step="12" data-intro='La opción "Finalizar pedido" dará por finalizado la producción del pedido y notificará al usuario ademas de solicitarle datos para el envío,
              una vez el pedido se encuentre en estado "Finalizado" se habilita una nueva opción que será de "Pedido entregado" para establecer que el pedido fue entregado al cliente'>
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=".bs-example-modal-lg5{{pedido_form.id_pedido}}">
                  Finalizar Pedido
                </button>
              </div>
            {% endif %}

              <div class="col-md-2" data-step="13" data-intro='La opción "Registrar entrega" permite registrar una nueva entregas recibida'>
                {% if pedido.entrega != pedido.precio_total %}
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target=".bs-example-modal-lg3{{pedido_form.id_pedido}}">
                  Registrar entrega
                </button>
                {% endif %}
              </div>
              {% if estado.estado_id == 6 or estado.estado_id == 2 %}  <!-- 6 = en espera, 2 en produccion -->
                {% if user.rol.nombre == 'Modista' or user.rol.nombre == 'Administrador' %}
                <div class="col-5">

                </div>
                {% endif %}
              {% endif %}

              {% if user.rol.nombre == 'Registrador' or user.rol.nombre == 'Encargado de Stock' %}
                <div class="col-4">

                </div>
              {% endif %}

           {% endif %}
           {% if estado.estado_id == 3 and user.rol.nombre == 'Modista' or estado.estado_id == 3 and user.rol.nombre == 'Administrador' %}  <!-- 3 = Finalizado -->
             <div class="col-md-2">
               <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target=".bs-example-modal-lg6{{pedido_form.id_pedido}}">
                 Pedido Entregado
               </button>
             </div>

             <div class="col-md-2">

             </div>
             <div class="col-md-2">

             </div>
          {% endif %}

          {% if estado.estado_id == 4 or estado.estado_id == 5 %}  <!-- 3 = Entregado -->
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
         {% endif %}
         {% if estado.estado_id == 3 and user.rol.nombre == 'Registrador' or user.rol.nombre == 'Encargado de Stock' %}
         <div class="col-md-6">

         </div>
         {% endif %}
         {% if estado.estado_id == 4 and user.rol.nombre == 'Administrador' %}
         <div class="col-md-5">

         </div>
         {% endif %}
         {% if estado.estado_id == 3 and user.rol.nombre == 'Administrador' %}
         <div class="col-md-5">

         </div>
         {% endif %}
        {% if user.rol.nombre == 'Registrador' or user.rol.nombre == 'Encargado de Stock' %}
            <div class="col-md-5">
            </div>
        {% endif %}
              <button type="button" class="btn btn-danger" onclick="history.back()">
                <i class="fa fa-chevron-left"></i> Volver
              </button>
        </div>



            <!-- Modal Cancelar -->
            <div class="modal fade bs-example-modal-lg2{{pedido_form.id_pedido_form}}" id="myModal2{{pedido_form.id_pedido_form}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel{{pedido_form.id_pedido_form}}">Cancelar Pedido</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <a>Está a punto de <strong>cancelar</strong> el pedido, debe <strong>puntuar</strong> al cliente</a>

                        </div>
                          <br>
                          <div class="alineado-centro">
                            <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkMM" value="checkMM">Muy Mala</label>
                            <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkM" value="checkM">Mala</label>
                            <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkR" checked value="checkR">Regular</label>
                            <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkB" value="checkB">Buena</label>
                            <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkMB" value="checkMB">Muy Buena</label>
                          <!-- Material checked -->
                          </div>


                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <button type="submit" class="btn btn-danger" name="boton_cancelar">Confirmar y puntuar</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <!-- Modal Registrar entrega -->
            <div class="modal fade bs-example-modal-lg3{{pedido_form.id_pedido_form}}" id="myModal2{{pedido_form.id_pedido_form}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel{{pedido_form.id_pedido_form}}">Registrar Entrega</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <p>Entrega:</p>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-dollar"></i>
                              </div>
                              <div class="form-control">
                                <input type="number" name="registrar_entrega">
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <button type="submit" name="boton_registrar_entega" class="btn btn-danger" >Registrar</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <!-- Modal Historico de estados -->
            <div class="modal fade bs-example-modal-lg4" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Estados</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <!-- DATA TABLE-->
                          <div class="table-responsive m-b-40">
                              <table class="table table-borderless table-data3">
                                  <thead>
                                      <tr>
                                          <th>Fecha</th>
                                          <th>Estado</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for estado in estados %}
                                      <tr>
                                        <td>{{estado.fecha}}</td>
                                        <td style="text-align: left;">{{estado}}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                          <!-- END DATA TABLE-->
                        </div>
                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->


            <!-- Modal Historico de entregas -->
            <div class="modal fade bs-example-modal-lg7" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Entregas</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <!-- DATA TABLE-->
                          <div class="table-responsive m-b-40">
                              <table class="table table-borderless table-data3">
                                  <thead>
                                      <tr>
                                          <th>N°</th>
                                          <th>Monto</th>
                                          <th>Fecha</th>
                                          <th>Saldo</th>
                                          <th>Usuario</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for entrega in entregas %}
                                      <tr>
                                        <td style="text-align: right;">{{entrega.id_entrega}}</td>
                                        <td style="text-align: right;">${{entrega.monto}}</td>
                                        <td>{{entrega.fecha_entrega}}</td>
                                        <td style="text-align: right;">${{entrega.saldo}}</td>
                                        <td style="text-align: left;">{{entrega.usuario.username}}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                          <!-- END DATA TABLE-->
                        </div>
                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <!-- Modal Registrar entrega -->
            <div class="modal fade bs-example-modal-lg5{{pedido_form.id_pedido_form}}" id="myModal2{{pedido_form.id_pedido_form}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel{{pedido_form.id_pedido_form}}">Finalizar pedido</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Desea <strong>finalizar</strong> el pedido</p>
                        </div>
                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <a href="{% url 'pedido:finalizar_pedido' pedido.id_pedido %}">
                                <button type="button" class="btn btn-danger" >Finalizar</button>
                              </a>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <!-- Modal Registrar entrega -->
            <div class="modal fade bs-example-modal-lg6{{pedido_form.id_pedido_form}}" id="myModal{{pedido_form.id_pedido_form}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel{{pedido_form.id_pedido_form}}">Entregar pedido</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Desea <strong>Entregar</strong> el pedido? Debe <strong>Puntuar al cliente</strong></p>
                        </div>
                        <br>
                        <div class="alineado-centro">
                          <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkMM" value="checkMM">Muy Mala</label>
                          <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkM" value="checkM">Mala</label>
                          <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkR" checked value="checkR">Regular</label>
                          <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkB" value="checkB">Buena</label>
                          <label class="radio-inline" style="margin-right: 20px;"><input type="radio" class="custom-control" name="optradio" id="checkMB" value="checkMB">Muy Buena</label>
                        <!-- Material checked -->
                        </div>

                        <div class="modal-footer">
                          <div class="alineado-derecha">
                              <a href="{% url 'pedido:entregar_pedido' pedido.id_pedido %}">
                                <button type="submit" class="btn btn-danger" name="boton_entregar">Entregar y Puntuar</button>
                              </a>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

          </div>
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock content%}
