{% extends 'index.html' %}

<!DOCTYPE html>
{% block titulo%}
Auditoria Clientes
{% endblock titulo%}
{% block content%}

<div class="col-12 alineado-derecha">
  <div class="fa-hover">
    <a href="JavaScript:Void(0);">
      <i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i>
    </a>
  </div>
</div>
<!-- DATA TABLE -->
<div class="" data-step="1" data-intro='Apartado para filtrar los datos mostrados en la tabla'>
<strong class="card-title">Filtrar</strong>
<div class="card">
  <br>
  <div class="table-data__tool">
      <div class="table-data__tool-left" data-step="2" data-intro='Puede filtrar entre diferentes fechas'>
          <span>Entre:</span>
          <div class="rs-select2--light rs-select2--sm">
            <div class="form-control">
              <input type="" name="" value="" id="min">
            </div>
          </div>
          <h> y </h>
          <div class="rs-select2--light rs-select2--sm">
            <div class="form-control">
              <input type="" name="" value="" id="max">
            </div>
          </div>
    </div>
      <div class="alineado-derecha">
        <div class="table-data__tool-right"  data-step="3" data-intro='Puede filtrar la tabla por busquedas'>
          <div class="form-control">
            <input type="" name="" placeholder="Buscar" value="" id="midtbusqueda">
          </div>
        </div>
      </div>

  </div>
</div>
</div>

<div class="table-responsive table-responsive-data2">
    <table class="table table-data2" id="midatatable" data-step="4" data-intro='Tabla de auditoría'>
        <thead>
            <tr>
                <th>id</th>
                <th>Acción</th>
                <th>DNI</th>
                <th>Nombre y apellido</th>
                <th>Fecha y Hora</th>
                <th>Usuario</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for audi in auditoria %}
            <tr class="tr-shadow">
              <td>{{audi.history_id}}</td>
              <td data-step="5" data-intro='Se muestra la acción realizada sobre el cliente'>
                {% if audi.history_type == '-' %}
                  Baja
                {% endif %}
                {% if audi.history_type == '~' %}
                  Modificación
                {% endif %}
                {% if audi.history_type == '+' %}
                  Alta
                {% endif %}
              </td>
              <td data-step="6" data-intro='El DNI'>{{audi.dni}}</td>
              <td data-step="7" data-intro='El nombre'>{{audi.nombre}}</td>
              <td data-step="8" data-intro='Cuando se realizó la acción'>{{audi.history_date}}</td>
              <td data-step="9" data-intro='Y el usuario que la realizó'>{{audi.history_user}}</td>
              <td>
                {% if audi.history_type == '~' %}
                <!-- Modal ver cambios -->
                <button type="button" class="btn btn-primary btn-sm" onclick="f1({{audi.dni}},{{audi.pk}})" data-toggle="modal" data-target=".ver_auditoria" data-step="10" data-intro='Si selecciona la opción "Ver cambios" se mostrará una ventana donde se observarán los cambios al elemento'>
                  <i class="fas fa-eye"></i>
                </button>
                <div class="modal fade ver_auditoria" id="ver_auditoria{{audi.pk}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="ver_auditoria{{audi.pk}}">Ver Cambios</h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-6">
                                  <div class="col-12 alineado-centro">
                                    <strong>Estado Previo</strong>
                                  </div>
                                  <div class="col-12">
                                    <div class="alert alert-danger" id="detail_modal_old" role="alert">
                                    </div>
                                  </div>

                                </div>
                                <div class="col-6">
                                  <div class="col-12 alineado-centro">
                                    <strong>Estado Posterior</strong>
                                  </div>
                                  <div class="col-12">
                                    <div class="alert alert-success" id="detail_modal_new" role="alert">
                                    </div>
                                  </div>

                                </div>

                              </div>

                            </div>
                            <div class="modal-footer">
                              <div class="alineado-derecha">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
                {% endif %}
              </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
<!-- END DATA TABLE -->
<script type="text/javascript">
function f1(pk, id_history){
       // $('modalDetail').modal('toogle');
       $.ajax({
         url:'/cliente/ver_auditoria/'+pk+'/'+id_history,
         dataType: 'json',
         success: function(data){
           var html = "";
           var html2 = "";
           for (var i = 0; i < data.length; i++) {
             html+= '<p><strong>'+String(data[i].change).replace(/\b[a-z]/g,c=>c.toUpperCase())+': </strong>'+data[i].old+'</p>'
             html2+= '<p><strong>'+String(data[i].change).replace(/\b[a-z]/g,c=>c.toUpperCase())+': </strong>'+data[i].new+'</p>'
           }
        $('#detail_modal_old').html(html);
        $('#detail_modal_new').html(html2);
         }
       })
}
</script>
{% endblock content%}
