{% extends 'index.html' %}

<!DOCTYPE html>
{% load static %}
{% block titulo%}
Estadisticas
{% endblock titulo%}
{% block content%}
<div class="alineado-derecha d-print-none">
  <div class="fa-hover">
    <a href="JavaScript:Void(0);">
      <i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i>
    </a>
  </div>
</div>
<br>
<!-- collapse -->
<!-- card -->
<div class="au-card m-b-30 d-print-none" id="collapsescroll1" style="padding: 20px;" data-step="1" data-intro='Cada apartado corresponde a una estadistica'>
  <span style="vertical-align: sub;">
    Cantidad de prendas solicitadas clasificandolos por <strong>tipo de prenda.</strong>
  </span>
  <button data-step="2" data-intro='Para visualizar haga click en el botón mostrar y se despliega una sección donde podra ver la información ademas de tener la opción de imprimir' style="float:right;" value="Mostruki" type="button" id="boton-card1" class="btn btn-primary" name="button" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
    Mostrar
  </button>
</div>
<!-- card -->
<!-- body -->
<div class="collapse" id="collapse1">
  <div class="row">
    <!-- Cantidad de prendas por tipo de prenda -->
    <div class="col-6">
        <div class="au-card m-b-30">
          <div class="row d-print-none">


            <div class="">
                <div class="" data-step="2" data-intro="Puede filtrar entre diferentes fechas">
                    <span>Rango:</span>

                    <div class="rs-select2--light">
                      <div class="form-control">
                        <input class="datepicker" type="" name="" value="" id="desde">
                      </div>
                    </div>
              </div>
            </div>
          </div>


            <div class="au-card-inner"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                  <canvas id="pieChart2" height="296" width="444" class="chartjs-render-monitor" style="display: block; width: 390px; height: 260px;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="au-card m-b-30"style="height: 438px;">
          <div class="table-responsive table--no-card m-b-30">
              <table class="table table-borderless table-striped table-earning">
                  <thead>
                      <tr>
                          <th style='text-align:left'>Tipo de prenda</th>
                          <th style='text-align:right'>Cantidad</th>
                      </tr>
                  </thead>
                  <tbody id="mi-tabla1">

                  </tbody>
              </table>
          </div>
        </div>
    </div>
    <div class="alineado-centro col-12 d-print-none">
    <a href="javascript:window.print()" ><button type="button" class="btn btn-primary" style="margin-bottom:20px;" name="button" > Imprimir </button></a>
    </div>
  </div>
<hr class="d-print-none">
</div>
<!-- body -->
<!-- end collapse -->

<!-- collapse -->
<!-- card -->
  <div class="au-card m-b-30 d-print-none" id="collapsescroll2" style="padding: 20px;">
    <span style="vertical-align: sub;">
      Demanda de los distintos tipos de prendas clasificandolas por <strong>temporada.</strong>
    </span>
    <button style="float:right;" type="button" id="boton-card2" class="btn btn-primary" name="button" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
      Mostrar
    </button>
  </div>
<!-- card -->
<!-- body -->
<div class="collapse" id="collapse2">
  <div class="row">
    <!-- Demanda de tipo de prenda por temporada -->
    <div class="col-lg-6" >
        <div class="au-card m-b-30" >
          <div class="row d-print-none">
            <div class="col-1">
              Año:
            </div>
            <div class="col-3">
              <select id="year" class="js-example-basic-single select_temporada_year"></select>
            </div>
            <div class="col-3">
              <p style="text-align:right;">Temporada:</p>
            </div>
            <div class="col-5">
              <select id='select_temporada' class="js-example-basic-single">
                <option value="Verano" selected>Verano</option>
                <option value="Otoño">Otoño</option>
                <option value="Invierno">Invierno</option>
                <option value="Primavera">Primavera</option>
              </select>
            </div>
          </div>

            <div class="au-card-inner"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <canvas id="bar-chart" height="296" width="444" class="chartjs-render-monitor" style="display: block; width: 390px; height: 260px;">></canvas>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="au-card m-b-30"style="height: 438px;">
          <div class="table-responsive table--no-card m-b-30">
              <table class="table table-borderless table-striped table-earning">
                  <thead>
                      <tr>
                          <th style='text-align:left'>Tipo de prenda</th>
                          <th style='text-align:right'>Cantidad</th>
                      </tr>
                  </thead>
                  <tbody id="mi-tabla2">

                  </tbody>
              </table>
          </div>
        </div>
    </div>

    <div class="alineado-centro col-12 d-print-none">
    <a href="javascript:window.print()" ><button style="margin-bottom: 20px;" type="button" class="btn btn-primary" name="button" > Imprimir </button></a>
    </div>
  </div>
<hr class="d-print-none">
</div>
<!-- body -->
<!-- end collapse -->

<!-- collapse -->
<!-- card -->
  <div class="au-card m-b-30 d-print-none" id="collapsescroll4" style="padding: 20px;" id="cardcollapse4">
    <span style="vertical-align: sub;">
      Demanda de los distintos colores utilizados clasificandolos por <strong>temporada.</strong>
    </span>
    <button style="float:right;" type="button" id="boton-card4" class="btn btn-primary" name="button" href="#collapse4" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" >
      Mostrar
    </button>
  </div>
  <!-- CARD -->
  <!-- body -->
<div class="collapse" id="collapse4">
  <div class="row">
    <!-- Demanda de tipo de prenda por temporada -->
    <div class="col-lg-12">
        <div class="au-card m-b-30">
          <div class="row d-print-none">
            <div class="col-1">
              Año:
            </div>
            <div class="col-3">
              <select id="year2" class="js-example-basic-single select_temporada_year"></select>
            </div>
            <div class="col-3">
              <p style="text-align:right;">Temporada:</p>
            </div>
            <div class="col-5">
              <select id='select_temporada2' class="js-example-basic-single">
                <option value="Verano" selected>Verano</option>
                <option value="Otoño">Otoño</option>
                <option value="Invierno">Invierno</option>
                <option value="Primavera">Primavera</option>
              </select>
            </div>
          </div>

            <div class="au-card-inner alineado-centro"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
  <div class="col-6">
    <canvas id="doughnut-chart" height="296" width="444" class="chartjs-render-monitor" style="display: block; width: 390px; height: 260px;">></canvas>
  </div>

            </div>
        </div>
    </div>
    <div class="alineado-centro col-12 d-print-none">
    <a href="javascript:window.print()" ><button style="margin-bottom: 20px;" type="button" class="btn btn-primary" name="button" > Imprimir </button></a>
    </div>

  </div>
  <br>
<hr class="d-print-none">

</div>
<!-- body -->
<!-- end collapse -->

<!-- collapse -->
<!-- card -->
<div class="">
  <div class="au-card m-b-30 d-print-none" id="collapsescroll3" style="padding: 20px;">
    <span style="vertical-align: sub;">
      Cantidad de prendas solicitadas clasificandolas por <strong>talles.</strong>
    </span>
    <button style="float:right;" type="button" id="boton-card3" class="btn btn-primary" name="button" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">
      Mostrar
    </button>
  </div>
  <!-- card -->
  <!-- body -->
<div class="collapse" id="collapse3">
  <div class="row">
    <!-- Demanda de tipo de prenda por temporada -->
    <div class="col-lg-6">
        <div class="au-card m-b-30">
          <div class="row d-print-none">
            <div class="">
                <div class="" data-step="2" data-intro="Puede filtrar entre diferentes fechas">
                    <span>Rango:</span>

                    <div class="rs-select2--light">
                      <div class="form-control">
                        <input class="datepicker" type="" name="" value="" id="rango2">
                      </div>
                    </div>
              </div>
            </div>
            <div class="col-3">

            </div>
            <div class="col-12">
<br>
            </div>
            <div class="">
              <p>Tipo de prenda:</p>
            </div>
            <div class="col-4">
              <select id='tipo_prenda' class="js-example-basic-single">
              </select>
            </div>
          </div>

            <div class="au-card-inner"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
            </div>
        </div>

    </div>
    <div class="col-6">
        <div class="au-card m-b-30"style="height: 385px;">
          <div class="table-responsive table--no-card m-b-30">
              <table class="table table-borderless table-striped table-earning">
                  <thead>
                      <tr>
                          <th style='text-align:left'>Talle</th>
                          <th style='text-align:right'>Cantidad</th>
                      </tr>
                  </thead>
                  <tbody id="mi-tabla4">

                  </tbody>
              </table>
          </div>
        </div>
    </div>
    <div class="alineado-centro col-12 d-print-none">
    <a href="javascript:window.print()" ><button style="margin-bottom: 20px;" type="button" class="btn btn-primary" name="button" > Imprimir </button></a>
    </div>
  </div>
  <hr class="d-print-none">
  <br>
  <br>
</div>
</div>

<!-- body -->
<!-- end collapse -->

<!-- Chart Torta -->
<script src="{% static 'js/Chart_torta.js' %}"></script>

<!-- Chart Torta -->
<script src="{% static 'js/jspdf.min.js' %}"></script>

<!-- Jquery JS-->
<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>


<script>
$(document).ready(function(){

  var html = document.documentElement;

  $("#collapse1").on('hide.bs.collapse', function(){
  $("#boton-card1").html("Mostrar");
  });

  $("#collapse2").on('hide.bs.collapse', function(){
  $("#boton-card2").html("Mostrar");
  });

  $("#collapse3").on('hide.bs.collapse', function(){
  $("#boton-card3").html("Mostrar");
  });

  $("#collapse4").on('hide.bs.collapse', function(){
  $("#boton-card4").html("Mostrar");
  });

  $("#collapse1").on('show.bs.collapse', function(){
    $("#collapse2,#collapse3,#collapse4").collapse('hide');
  });

  $("#collapse2").on('show.bs.collapse', function(){
    $("#collapse1,#collapse3,#collapse4").collapse('hide');
  });

  $("#collapse3").on('show.bs.collapse', function(){
    $("#collapse1,#collapse2,#collapse4").collapse('hide');
  });

  $("#collapse4").on('show.bs.collapse', function(){
    $("#collapse1,#collapse2,#collapse3").collapse('hide');
  });

  $("#collapse1").on('shown.bs.collapse', function(){
  var card1 = document.getElementById('collapsescroll1');
  var boton =  document.getElementById('boton-card1');
  card1.scrollIntoView();
  html.scrollTop -= 80;
  $("#boton-card1").html("Ocultar");

  });

  $("#collapse2").on('shown.bs.collapse', function(){
  var card2 = document.getElementById('collapsescroll2');
  card2.scrollIntoView();
  html.scrollTop -= 80;
  $("#boton-card2").html("Ocultar");
  });

  $("#collapse3").on('shown.bs.collapse', function(){
  var card3 = document.getElementById('collapsescroll3');
  card3.scrollIntoView();
  //html.scrollTop -= 60;
  $("#boton-card3").html("Ocultar");
  });

  $("#collapse4").on('shown.bs.collapse', function(){
    var card4 = document.getElementById('collapsescroll4');
    card4.scrollIntoView();
    html.scrollTop -= 90;
    $("#boton-card4").html("Ocultar");
  });

});
</script>

<script language="Javascript">

  function imprSelec(nombre){
  var ficha = document.getElementById(nombre);
  var ventimp = window.open(' ', 'popimpr');
  ventimp.document.write( ficha.innerHTML );
  ventimp.document.close();
  ventimp.print( );
  ventimp.close();
  }
</script>

<script type="text/javascript">
  $(function() {
    $('.datepicker').daterangepicker({

        changeMonth: true,
        changeYear: true,
        singleDatePicker: false,
        locale: {
            format: 'DD/MM/YYYY',
            applyLabel: 'Seleccionar',
            cancelLabel: 'Limpiar',
            fromLabel: 'Desde',
            toLabel: 'Hasta',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            firstDay: 1,
        }
  });

  });
  $(function() {
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = dd + '/' + mm + '/' + yyyy;
    var a = document.getElementById('desde').value = '01/01/'+yyyy+ ' - ' + today;
    var a = document.getElementById('rango2').value = '01/01/'+yyyy+ ' - ' + today;
  });
</script>

<script type="text/javascript">
  $(function() {
    var from = new Date(2000,1,1);
    var to = new Date();
    for (var day = from; day <= to; day.setFullYear(day.getFullYear() + 1)) {
        if (day <= to) {
            $("#year").append("<option selected value='" + day.getFullYear() + "'>" + day.getFullYear() + "</option>");
        }
        else {
          $("#year").append("<option value='" + day.getFullYear() + "'>" + day.getFullYear() + "</option>");
        }
    }
  });
</script>

<script type="text/javascript">
  $(function() {
    var from = new Date(2000,1,1);
    var to = new Date();
    for (var day = from; day <= to; day.setFullYear(day.getFullYear() + 1)) {
        if (day <= to) {
            $("#year2").append("<option selected value='" + day.getFullYear() + "'>" + day.getFullYear() + "</option>");
        }
        else {
          $("#year2").append("<option value='" + day.getFullYear() + "'>" + day.getFullYear() + "</option>");
        }
    }
  });
</script>

<script type="text/javascript">
  $(function() {
    var from = new Date(2000,1,1);
    var to = new Date();
    for (var day = from; day <= to; day.setFullYear(day.getFullYear() + 1)) {
        if (day <= to) {
            $("#year_torta").append("<option selected value='" + day.getFullYear() + "'>" + day.getFullYear() + "</option>");
        }
        else {
          $("#year_torta").append("<option value='" + day.getFullYear() + "'>" + day.getFullYear() + "</option>");
        }
    }
  });
</script>

<script type="text/javascript">
  $(function() {
    var from = new Date(2000,1,1);
    var to = new Date();
    for (var day = from; day <= to; day.setFullYear(day.getFullYear() + 1)) {
        if (day <= to) {
            $("#año").append("<option selected value='" + day.getFullYear() + "'>" + day.getFullYear() + "</option>");
        }
        else {
          $("#año").append("<option value='" + day.getFullYear() + "'>" + day.getFullYear() + "</option>");
        }
    }
  });
</script>
<script type="text/javascript">
$(function(){
	    $.ajax({
	    	url: '/prenda/select_tipo_prenda/',
	    	dataType: "json",
	    	success: function(result){
        for (var i = 0; i < result.length; i++) {
            $("#tipo_prenda").append('<option selected value='+result[i]['valor']+'>'+result[i]['tipo_prenda']+'</option>');
        }
      },
	    	error: function(result) {
	    		alert('error');
	    	}
	    });
    });
</script>

<script>
    var tipo_prenda = [];
    var cantidad = [];
</script>

{% for a  in lista_chart %}
<script>
    tipo_prenda.push(String('{{a.prenda}}'))
    cantidad.push(parseInt('{{a.valor}}'))
</script>
{%endfor%}

<script>
$(document).ready(function(){
  a = document.getElementById('desde').value;
  var d = a.split(" - ")
  var desde = d[0];
  var hasta = d[1];
  var ctx = document.getElementById('pieChart2').getContext("2d"); //Obtengo el canvas

  //Ejecuto el ajax
  $.ajax({
    data: {
    'desde':desde,
    'hasta':hasta,
   },
    url: '/prenda/estadistica_torta/', //la temporada que estoy guardando en data se va a enviar en esa url
    type: 'get',
    success: function (data) {
      var html = "";
        for (var i = 0; i < data['tipo_prenda'].length; i++) {
            html += "<tr>"
            html += "<td>" + data['tipo_prenda'][i] + "</td>";
            if (data['valor'][i] == null) {
              html += "<td style='text-align:right'>" + 0 + "</td>";
            }
            else {
                html += "<td style='text-align:right'>" + data['valor'][i] + "</td>";
            }
            html += "</tr>"
        }
        $('#mi-tabla1').html(html);
        chart1 = new Chart(ctx, {
          type: 'pie',
          data: {
            labels:  data['tipo_prenda'],
            datasets: [{
              data:  data['valor'],
              backgroundColor: data['colores']

            }]

          },
          options: {
            legend: {
              position: 'top',
              labels: {
                fontFamily: 'Poppins'
              }

            },
            responsive: true,
            title: {
              display: true,
              text: 'Cantidad de prendas solicitadas entre el '+String(desde)+' hasta el '+String(hasta)
            }
          }
        });
  }
});
  // Al momento de cambiar de temporada en el select, voy a ejecutar un ajax para obtener los datos y configurar el chart
  $("#desde, #hasta").change(function(){
    a = document.getElementById('desde').value;
    var d = a.split(" - ")
    var desde = d[0];
    var hasta = d[1]; //Por defecto esta seleccionado el año 2020
        chart1.destroy();
        //Ejecuto el ajax
        $.ajax({
          data: {
            'desde':desde,
            'hasta':hasta
          },
          url: '/prenda/estadistica_torta/', //la temporada que estoy guardando en data se va a enviar en esa url
          type: 'get',
          success: function (data) {
            var html = "";
              for (var i = 0; i < data['tipo_prenda'].length; i++) {
                  html += "<tr>"
                  html += "<td>" + data['tipo_prenda'][i] + "</td>";
                  if (data['valor'][i] == null) {
                    html += "<td style='text-align:right'>" + 0 + "</td>";
                  }
                  else {
                      html += "<td style='text-align:right'>" + data['valor'][i] + "</td>";
                  }
                  html += "</tr>"
              }
              $('#mi-tabla1').html(html);
              chart1 = new Chart(ctx, {
                type: 'pie',
                data: {
                  labels:  data['tipo_prenda'],
                  datasets: [{
                    data:  data['valor'],
                    backgroundColor: data['colores']

                  }]

                },
                options: {
                  legend: {
                    position: 'top',
                    labels: {
                      fontFamily: 'Poppins'
                    }

                  },
                  responsive: true,
                  title: {
                    display: true,
                    text: 'Cantidad de prendas solicitadas entre el '+String(desde)+' hasta el '+String(hasta)
                  }
                }
              });
        }
      });
    });
});
</script>

<!-- Script para filtrar chart de demanda de prendas por temporadas -->
<script type="text/javascript">
// Al cargar la pagina configuro un chart con la temporada de verano de forma predeterminada
  $(document).ready(function(){
    temporada = $("#select_temporada").val(); //Por defecto esta seleccionada la opcion 'verano'
    año = $("#year").val(); //Por defecto esta seleccionada la opcion 'verano'
    temporada = String(temporada) //Casteo a String

    var ctx = document.getElementById('bar-chart'); //Obtengo el canvas
    //Ejecuto el ajax
    $.ajax({
      data: { 'temporada': temporada, 'año':año },
      url: '/prenda/estadistica_temporada/', //la temporada que estoy guardando en data se va a enviar en esa url
      type: 'get',
      success: function (data) {
      var html = "";
        for (var i = 0; i < data['tipo_prenda'].length; i++) {
            html += "<tr>"
            html += "<td>" + data['tipo_prenda'][i] + "</td>";
            if (data['valor'][i] == null) {
              html += "<td style='text-align:right'>" + 0 + "</td>";
            }
            else {
                html += "<td style='text-align:right'>" + data['valor'][i] + "</td>";
            }
            html += "</tr>"
        }
        $('#mi-tabla2').html(html);

      chart2 = new Chart(ctx, { //Comienzo a configurarlo
      type: 'bar',
      data: {
        labels: data['tipo_prenda'],
        datasets: [
          {
            label: "Cantidad (Unidades)",
            backgroundColor: data['colores'],
            data: data['valor'],
          }
        ]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: temporada
        },
        scales: {
          yAxes: [{
            ticks:{
              suggestedMin: 0,
              stepSize: 1
            }
          }]
        },
        title: {
          display: true,
          text: 'Demanda de los distintos tipos de prendas en la temporada de '+String(temporada)+' del año '+String(año)
        }
      }

    });

    }
  });


    // Al momento de cambiar de temporada en el select, voy a ejecutar un ajax para obtener los datos y configurar el chart
    $("#select_temporada").change(function(){
          chart2.destroy();
          temporada = $(this).val(); //Obtengo la temporada seleccionada
          año = $('#year').val(); //Obtengo la temporada seleccionada
          var ctx = document.getElementById('bar-chart'); //Obtengo el canvas
          //Ejecuto el ajax
          $.ajax({
            data: { 'temporada': temporada, 'año':año },
            url: '/prenda/estadistica_temporada/', //la temporada que estoy guardando en data se va a enviar en esa url
            type: 'get',
            success: function (data) {
            var html = "";
              for (var i = 0; i < data['tipo_prenda'].length; i++) {
                  html += "<tr>"
                  html += "<td>" + data['tipo_prenda'][i] + "</td>";
                  if (data['valor'][i] == null) {
                    html += "<td style='text-align:right'>" + 0 + "</td>";
                  }
                  else {
                      html += "<td style='text-align:right'>" + data['valor'][i] + "</td>";
                  }
                  html += "</tr>"
              }
              $('#mi-tabla2').html(html);
            chart2 = new Chart(ctx, { //Comienzo a configurarlo
            type: 'bar',
            data: {
              labels: data['tipo_prenda'],
              datasets: [
                {
                  label: "Cantidad (Unidades)",
                  backgroundColor: data['colores'],
                  data: data['valor'],
                }
              ]
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: temporada
              },
              scales: {
                yAxes: [{
                  ticks:{
                    suggestedMin: 0,
                    stepSize: 1
                  }
                }]
              },
              title: {
                display: true,
                text: 'Demanda de los distintos tipos de prendas en la temporada de '+String(temporada)+' del año '+String(año)
              }
            }

          });

          }
        });

      });
          // Al momento de cambiar el año en el select, voy a ejecutar un ajax para obtener los datos y configurar el chart
          $("#year").change(function(){
                año = $(this).val(); //Obtengo la temporada seleccionada
                temporada = $('#select_temporada').val(); //Obtengo la temporada seleccionada
                temporada = String(temporada) //CAsteo a string para mostrar en el titulo
                var ctx = document.getElementById('bar-chart'); //Obtengo el canvas

                //Ejecuto el ajax
                $.ajax({
                  data: { 'temporada': temporada, 'año':año },
                  url: '/prenda/estadistica_temporada/', //la temporada que estoy guardando en data se va a enviar en esa url
                  type: 'get',
                  success: function (data) {
                  chart2.destroy();
                  var html = "";
                    for (var i = 0; i < data['tipo_prenda'].length; i++) {
                        html += "<tr>"
                        html += "<td>" + data['tipo_prenda'][i] + "</td>";
                        if (data['valor'][i] == null) {
                          html += "<td style='text-align:right'>" + 0 + "</td>";
                        }
                        else {
                            html += "<td style='text-align:right'>" + data['valor'][i] + "</td>";
                        }
                        html += "</tr>"
                    }
                    $('#mi-tabla2').html(html);

                  chart2 = new Chart(ctx, { //Comienzo a configurarlo
                  type: 'bar',
                  data: {
                    labels: data['tipo_prenda'],
                    datasets: [
                      {
                        label: "Cantidad (Unidades)",
                        backgroundColor: [
                          "rgba(0, 123, 255,0.9)",
                          "rgba(0, 123, 255,0.7)",
                          "rgba(0, 123, 255,0.5)",
                          "rgba(0,0,0,0.07)"
                        ],
                        data: data['valor'],
                      }
                    ]
                  },
                  options: {
                    legend: { display: false },
                    title: {
                      display: true,
                      text: temporada
                    },
                    scales: {
                      yAxes: [{
                        ticks:{
                          suggestedMin: 0,
                          stepSize: 1
                        }
                      }]
                    },
                    title: {
                      display: true,
                      text: 'Demanda de los distintos tipos de prendas en la temporada de '+String(temporada)+' del año '+String(año)
                    }
                  }

                });
                }
              });
            });
    });
</script>


<!-- Script para filtrar chart de demanda colores por temporadas -->
<script type="text/javascript">
  $(document).ready(function(){
    temporada = $("#select_temporada2").val(); //Por defecto esta seleccionada la opcion 'verano'
    temporada2 = $('#select_temporada2 option:selected').text(); //Obtengo el tipo de prenda seleccionado
    año = $('#year2').val();
    var ctx = document.getElementById('doughnut-chart'); //Obtengo el canvas

    //Ejecuto el ajax
    $.ajax({
      data: { 'temporada': temporada, 'año':año },
      url: '/prenda/estadistica_temporada2/', //la temporada que estoy guardando en data se va a enviar en esa url
      type: 'get',
      success: function (data) {
      chart4 = new Chart(ctx, { //Comienzo a configurarlo
      type: 'doughnut',
      data: {
        labels: data['label'],
        datasets: [
          {
           backgroundColor: data['colores'],
           data: data['valor']
         }
       ]
     },
     options: {
       title: {
         display: true,
         text: 'Colores solicitados en el año '+String(año)+' para el la temporada de '+String(temporada2)
       }
     }
  });

    }
  });
    // Al momento de cambiar de temporada en el select, voy a ejecutar un ajax para obtener los datos y configurar el chart
    $("#select_temporada2").change(function(){
          chart4.destroy();
          temporada = $(this).val(); //Obtengo la temporada seleccionada
          año = $('#year2').val(); //Obtengo la temporada seleccionada
          temporada2 = $('#select_temporada2 option:selected').text(); //Obtengo el tipo de prenda seleccionado
          temporada = String(temporada) //CAsteo a string para mostrar en el titulo
          var ctx = document.getElementById('doughnut-chart'); //Obtengo el canvas

          //Ejecuto el ajax
          $.ajax({
            data: { 'temporada': temporada, 'año':año },
            url: '/prenda/estadistica_temporada2/', //la temporada que estoy guardando en data se va a enviar en esa url
            type: 'get',
            success: function (data) {
            chart4 = new Chart(ctx, { //Comienzo a configurarlo
            type: 'doughnut',
            data: {
              labels: data['label'],
              datasets: [
                {
                 backgroundColor: data['colores'],
                 data: data['valor']
               }
             ]
           },
           options: {
             title: {
               display: true,
               text: 'Colores solicitados en el año '+String(año)+' para la temporada '+String(temporada2)
             }
           }
        });

          }
        });
      });
          // Al momento de cambiar el año en el select, voy a ejecutar un ajax para obtener los datos y configurar el chart
          $("#year2").change(function(){
                chart4.destroy();
                temporada = $("#select_temporada2").val(); //Obtengo la temporada seleccionada
                año = $(this).val(); //Obtengo la temporada seleccionada
                temporada2 = $('#select_temporada2 option:selected').text(); //Obtengo la temporada seleccionado
                temporada = String(temporada) //CAsteo a string para mostrar en el titulo
                var ctx = document.getElementById('doughnut-chart'); //Obtengo el canvas

                //Ejecuto el ajax
                $.ajax({
                  data: { 'temporada': temporada, 'año':año },
                  url: '/prenda/estadistica_temporada2/', //la temporada que estoy guardando en data se va a enviar en esa url
                  type: 'get',
                  success: function (data) {

                  chart4 = new Chart(ctx, { //Comienzo a configurarlo
                  type: 'doughnut',
                  data: {
                    labels: data['label'],
                    datasets: [
                     {
                       backgroundColor: data['colores'],
                       data: data['valor']
                     }
                   ]
                 },
                 options: {
                   title: {
                     display: true,
                     text: 'Colores solicitados en el año '+String(año)+' para la temporada '+String(temporada2)
                   }
                 }
              });

                }
              });
            });
    });
</script>

<script type="text/javascript">
// Al cargar la pagina configuro un chart con el primer tipo de prenda de forma predeterminada
setTimeout(function(){
  var tipo_prenda = $("#tipo_prenda").val()
  tipo_prenda2 = $('#tipo_prenda option:selected').text(); //Obtengo el tipo de prenda seleccionado

  a = document.getElementById('rango2').value;
  var d = a.split(" - ")
  var desde = d[0];
  var hasta = d[1];
  var ctx = document.getElementById('bar-chart-horizontal'); //Obtengo el canvas

  //Ejecuto el ajax
  $.ajax({
    data: {
      'tipo_prenda': tipo_prenda,
      'desde':desde,
      'hasta':hasta
    },
    url: '/prenda/estadistica_talle/', //la temporada que estoy guardando en data se va a enviar en esa url
    type: 'get',
    success: function (data) {
    var html = "";
      for (var i = 0; i < data['valor'].length; i++) {
          html += "<tr>"
          if (i == 0) {
            html += "<td>XS</td>";
          }
          if (i == 1) {
            html += "<td>S</td>";
          }
          if (i == 2) {
            html += "<td>M</td>";
          }
          if (i == 3) {
            html += "<td>L</td>";
          }
          if (i == 4) {
            html += "<td>XL</td>";
          }
          if (i == 5) {
            html += "<td>XXL</td>";
          }
          if (data['valor'][i] == null) {
            html += "<td style='text-align:right'>" + 0 + "</td>";
          }
          else {
            html += "<td style='text-align:right'>" + data['valor'][i] + "</td>";
          }

          html += "</tr>"
      }
      $('#mi-tabla4').html(html);
    chart3 = new Chart(ctx, { //Comienzo a configurarlo
    type: 'horizontalBar',
    data: {
      labels: ["XS", "S", "M", "L", "XL", "XXL"],
      datasets: [
        {
          label: "Cantidad (Unidades)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: data['valor']
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Talles solicitados en el año '+String(año)+' para el tipo de prenda '+String(tipo_prenda2)
      },
      scales: {
        xAxes: [{
          ticks:{
            suggestedMin: 0,
            stepSize: 1
          }
        }]
      }
    }

});

  }
});
}, 6000);
  $(function() {
    // Al momento de cambiar de temporada en el select, voy a ejecutar un ajax para obtener los datos y configurar el chart
    $("#tipo_prenda").change(function(){
          chart3.destroy();
          tipo_prenda = $(this).val(); //Obtengo el tipo de prenda seleccionado
          tipo_prenda2 = $('#tipo_prenda option:selected').text(); //Obtengo el tipo de prenda seleccionado
          a = document.getElementById('rango2').value;
          var d = a.split(" - ")
          var desde = d[0];
          var hasta = d[1];
          var ctx = document.getElementById('bar-chart-horizontal'); //Obtengo el canvas
          //Ejecuto el ajax
          $.ajax({
            data: {
              'tipo_prenda': tipo_prenda,
              'desde':desde,
              'hasta':hasta
            },
            url: '/prenda/estadistica_talle/', //la temporada que estoy guardando en data se va a enviar en esa url
            type: 'get',
            success: function (data) {
              var html = "";
                for (var i = 0; i < data['valor'].length; i++) {
                    html += "<tr>"
                    if (i == 0) {
                      html += "<td>XS</td>";
                    }
                    if (i == 1) {
                      html += "<td>S</td>";
                    }
                    if (i == 2) {
                      html += "<td>M</td>";
                    }
                    if (i == 3) {
                      html += "<td>L</td>";
                    }
                    if (i == 4) {
                      html += "<td>XL</td>";
                    }
                    if (i == 5) {
                      html += "<td>XXL</td>";
                    }
                    if (data['valor'][i] == null) {
                      html += "<td style='text-align:right'>" + 0 + "</td>";
                    }
                    else {
                      html += "<td style='text-align:right'>" + data['valor'][i] + "</td>";
                    }

                    html += "</tr>"
                }
                $('#mi-tabla4').html(html);
            chart3 = new Chart(ctx, { //Comienzo a configurarlo
            type: 'horizontalBar',
            data: {
              labels: ["XS", "S", "M", "L", "XL", "XXL"],
              datasets: [
                {
                  label: "Cantidad (Unidades)",
                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                  data: data['valor']
                }
              ]
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: 'Talles solicitados en el año '+String(año)+' para el tipo de prenda '+String(tipo_prenda2)
              },
              scales: {
                xAxes: [{
                  ticks:{
                    suggestedMin: 0,
                    stepSize: 1
                  }
                }]
              }
            }
        });

          }
        });
      });

      // Al momento de cambiar de año en el select, voy a ejecutar un ajax para obtener los datos y configurar el chart
      $('#rango2').change(function(){
            chart3.destroy();
            a = document.getElementById('rango2').value;
            var d = a.split(" - ")
            var desde = d[0];
            var hasta = d[1];
            tipo_prenda = $('#tipo_prenda').val(); //Obtengo la temporada seleccionada
            tipo_prenda2 = $('#tipo_prenda option:selected').text(); //Obtengo el tipo de prenda seleccionado
            var ctx = document.getElementById('bar-chart-horizontal'); //Obtengo el canvas
            //Ejecuto el ajax
            $.ajax({
              data: {
                'tipo_prenda': tipo_prenda,
                'desde':desde,
                'hasta':hasta
              },
              url: '/prenda/estadistica_talle/', //la temporada que estoy guardando en data se va a enviar en esa url
              type: 'get',
              success: function (data) {
                var html = "";
                  for (var i = 0; i < data['valor'].length; i++) {
                      html += "<tr>"
                      if (i == 0) {
                        html += "<td>XS</td>";
                      }
                      if (i == 1) {
                        html += "<td>S</td>";
                      }
                      if (i == 2) {
                        html += "<td>M</td>";
                      }
                      if (i == 3) {
                        html += "<td>L</td>";
                      }
                      if (i == 4) {
                        html += "<td>XL</td>";
                      }
                      if (i == 5) {
                        html += "<td>XXL</td>";
                      }
                      if (data['valor'][i] == null) {
                        html += "<td style='text-align:right'>" + 0 + "</td>";
                      }
                      else {
                        html += "<td style='text-align:right'>" + data['valor'][i] + "</td>";
                      }

                      html += "</tr>"
                  }
                  $('#mi-tabla4').html(html);
              chart3 = new Chart(ctx, { //Comienzo a configurarlo
              type: 'horizontalBar',
              data: {
                labels: ["XS", "S", "M", "L", "XL", "XXL"],
                datasets: [
                  {
                    label: "Cantidad (Unidades)",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                    data: data['valor']
                  }
                ]
              },
              options: {
                legend: { display: false },
                title: {
                  display: true,
                  text: 'Talles solicitados en el año '+String(año)+' para el tipo de prenda '+String(tipo_prenda2)
                },
                scales: {
                  xAxes: [{
                    ticks:{
                      suggestedMin: 0,
                      stepSize: 1
                    }
                  }]
                }
              }
          });

            }
          });
        });
    });
</script>

{% endblock content%}
